<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9794118ac5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='design.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='chalkline-icon.png')}}" type="image/x-icon">
    <title>Chalkline Baseball | {% block title %}{% endblock title %}</title>
</head>

<div id="html-container">
    <nav id="main-navbar" class="topnav">
        <a id="menu-title" href="{{url_for('main.home')}}"><b id="title">Chalkline Baseball</b>&trade;</a>

            {% if user is not none %}

                {% if 'coach' in user.role %}
                <div class="dropdown dropdown-team">
                    <button class="dropdown-button">Teams <i class="fa-solid fa-caret-down"></i></button>
                    <div class="dropdown-content team">
                        <a href="{{url_for('teams.schedule')}}">Team Schedule</a>
                        <a href="{{url_for('teams.info')}}">Team Info</a>
                        <a href="{{url_for('teams.rentals')}}">Rental Equipment</a>
                    </div>
                </div>
                {% endif %}
                
                {% if 'youth' in user.role or 'umpire' in user.role %}
                <div class="dropdown dropdown-umpire">
                    <button class="dropdown-button">Umpire <i class="fa-solid fa-caret-down"></i></button>
                    <div class="dropdown-content umpire">
                        <a href="{{url_for('umpire.schedule')}}">Umpire Schedule</a>
                        <a href="{{url_for('umpire.assignments')}}">My Games</a>
                    </div>
                </div>
                {% endif %}

                {% if 'board' in user.role %}
                <div class="dropdown dropdown-board">
                    <button class="dropdown-button">Director <i class="fa-solid fa-caret-down"></i></button>
                    <div class="dropdown-content umpire">
                        <a href="{{url_for('director.week')}}">This Week's Games</a>
                        <a href="{{url_for('director.schedule')}}">Director Schedule</a>
                        <a href="{{url_for('director.shifts')}}">My Shifts</a>
                    </div>
                </div>
                {% endif %}

                <div class="dropdown dropdown-league">
                    <button class="dropdown-button">League <i class="fa-solid fa-caret-down"></i></button>
                    <div class="dropdown-content league">
                        <a href="{{url_for('league.master_schedule')}}">Master Schedule</a>
                        <a href="{{url_for('league.info')}}">League Info</a>
                        <a href="{{url_for('league.status')}}">Field Status</a>
                    </div>
                </div>

                {% if 'admin' in user.role %}
                <div class="dropdown dropdown-admin">
                    <button class="dropdown-button">Admin <i class="fa-solid fa-caret-down"></i></button>
                    <div class="dropdown-content admin">
                        <a href="{{url_for('admin.event_data')}}">Event Data</a>
                        <a href="{{url_for('admin.user_data')}}">User Data</a>
                        <a href="{{url_for('admin.team_data')}}">Team Data</a>
                        <a href="{{url_for('admin.dod_data')}}">DoD Shift Data</a>
                        <a href="{{url_for('admin.rental_data')}}">Rental Data</a>
                        <a href="{{url_for('admin.announcement')}}">Send Announcement</a>
                    </div>
                </div>
                {% endif %}

            {% endif %}

        <a href="{{url_for('main.home', _anchor='about')}}">About</a>
        
        <div class="nav-right">
            {% if user is none %}
            <a href="{{url_for('main.signup')}}">Create Account</a>
            <a class="sign-in" href="{{url_for('main.login')}}">Sign In</a>
            {% else %}
            <a class="sign-in" href="{{url_for('main.profile')}}">Account</a>
            {% endif %}
            <a href="#" class="menu-bars" onclick="showMobileNav()"><i class="fa-solid fa-bars"></i></a>
        </div>
    </nav>

    <body>
        {% if user %}
            {% if 'msg' in user %}
                <p class="error">{{user.msg}}</p>
            {% endif %}
        {% endif %}

        {% block content %}{% endblock content %}
    </body>
    
    <footer>
        <p>Created and Maintained by Aidan Hurwitz</p>
        <p>Chalkline Baseball&trade; {{sobj.version}}</p>
        <p>Copyright &copy; {{sobj.copyright}} Aidan Hurwitz</p>
    </footer>

</div>
<script>
    function showMobileNav() {
        var x = document.getElementById("main-navbar");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
</script>
</html>