
<button type="button" id="filter-button" onclick="toggleFilterSection('filter-section')" class="filter-dropdown action"><i class="fa-solid fa-filter"></i> Filters</button>

{% if not filters.default %}
<script>
    document.getElementById('filter-button').style.backgroundColor = 'var(--success)';
</script>
{% endif %}

<section id="filter-section" class="filter-section" style='display: none;'>
    <br>
    {% if request.blueprint not in ["director", "teams"] and res.league %}
        <select class="filter" name="filter_age" id="filter_age">
            <option value="None" selected>All Age Groups</option>
            {% for a in res.league.age_groups %}
                <option value="{{a}}">{{a}} only</option>
            {% endfor %}
        </select>

        <script>
            document.getElementById('filter_age').value = "{{filters.age}}";
        </script>
    {% endif %}

    <select class="filter" name="filter_season" id="filter_season">
        <option value="None">Any season</option>
        <option value="Spring {{res.date.year}}">Spring {{res.date.year}}</option>
        <option value="Summer {{res.date.year}}">Summer {{res.date.year}}</option>
        <option value="Fall {{res.date.year}}">Fall {{res.date.year}}</option>
        <option value="Spring {{res.date.year + 1}}">Spring {{res.date.year + 1}}</option>
    </select>

    <script>
        document.getElementById('filter_season').value = "{{filters.season}}";
    </script>

    {% if request.blueprint not in ["umpire", "director", "teams"] and res.league %}
        <select class="filter" name="filter_team" id="filter_team">
            <option value="None" selected>All teams</option>
            {% for t in res.league.teams %}
                <option value="{{t.teamId}}">{{t.teamId}} only</option>
            {% endfor %}
        </select>

        <script>
            document.getElementById('filter_team').value = "{{filters.team}}";
        </script>
    {% endif %}

    {% if request.blueprint in ['umpire', 'league', 'admin'] %}
        <select class="filter" name="filter_open" id="filter_open">
            <option value="False" selected>Filled or Open</option>
            <option value="True">Open positions only</option>
        </select>

        <script>
            document.getElementById('filter_open').value = "{{filters.open}}";
        </script>
        
        <input type="hidden" name="filter_expand" id="filter_expand" value="{{filters.expand}}">
    {% endif %}

    {% if request.blueprint == 'admin' %}
        <select class="filter" name="filter_umpire" id="filter_umpire">
            <option value="None" selected>All umpires</option>
            {% for u in all_umps %}
                <option value="{{u.userId}}">{{u.firstLast}}</option>
            {% endfor %}
        </select>

        <script>
            document.getElementById('filter_umpire').value = "{{filters.umpire}}";
        </script>
    {% endif %}
    
    {% if request.blueprint in ['league', 'admin'] %}
        <select name="filter_umpires_only" id="filter_umpires_only">
            <option value="False">Need not have umpires</option>
            <option value="True">Has umpires</option>
        </select>

        <script>
            document.getElementById('filter_umpires_only').value = "{{filters.umpires_only}}";
        </script>
    {% endif %}

    <br><b>Date --</b>

    <label for="filter_start">From </label>
    <input type="datetime-local" name="filter_start" id="filter_start">

    <label for="filter_end">To </label>
    <input type="datetime-local" name="filter_end" id="filter_end">

    <script>
        document.getElementById('filter_start').value = "{{filters.start.isoformat()[0:16]}}";
        document.getElementById('filter_end').value = "{{filters.end.isoformat()[0:16]}}";
    </script>

    <br><br>
    <button class="action secondary"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
    <button class="action secondary" name="filter_reset" value="0"><i class="fa-solid fa-arrow-rotate-left"></i> Reset</button>

<script>
    // expands umpires when clicking "show umpires"
    function expand(t) {
        if (t) {
            document.getElementById("filter_expand").value = "True";
            document.form.submit();
        } else {
            document.getElementById("filter_expand").value = "False";
            document.form.submit();
        }
    }
</script>

</section>
