:root {
    --chalkline-navy: #061c4a;
    --highlight-blue: rgb(0, 48, 224);
    --section-background: rgb(236, 236, 236);
    --purple: rgb(85, 0, 255);

    --primary: #061c4a;
    --secondary: rgb(0, 48, 224);
    --text: #061c4a;
    --subtle: rgb(68, 98, 146);
    --bg: white;
    --error: red;
    --success: green;
    --warning: orange;
    --bg-secondary: rgb(236, 236, 236);
}
html {
    scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: auto;
    color: var(--primary);
}
h1 {
    font-size: 24pt;
}
h2 {
    font-size: 20pt;
}
#html-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
}
.login {
    padding: 12px;
    background-color: var(--secondary);
    color: white;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid var(--primary);
    transition: all 0.3s;
}
.login:hover {
    background-color: white;
    color: var(--secondary);
}
a {
    font-weight: bold;
    color: var(--secondary);
    transition: all 0.3s;
}
a:hover {
    color: var(--purple);
}
a.icon-link {
    color: var(--primary);
    padding: 3px 10px;
    font-size: 12pt;
    background-color: white;
    border: 2px solid var(--primary);
    border-radius: 15px;
}
a.icon-link:hover {
    color: white;
    background-color: var(--primary);
}
.error {
    color: red;
    font-weight: bold;
}
.urgent {
    color: rgb(102, 0, 255);
    font-weight: bold;
}
.message {
    color: var(--purple);
    font-style: italic;
}
button.action {
    color: white;
    background-color: var(--secondary);
    border-radius: 15px;
    border: 2px solid var(--primary);
    font-size: 12pt;
    font-weight: bold;
    transition: all 0.3s;
}
button.action:hover {
    color: var(--secondary);
    background-color: white;
}
button.danger {
    background-color: white;
    color: var(--error);
    border: 2px solid var(--error);
}
button.danger:hover {
    background-color: var(--error);
    color: white;
}
button.secondary {
    background-color: white;
    color: var(--primary);
}
button.secondary:hover {
    background-color: var(--primary);
    color: white;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
input, select {
    border-radius: 10px;
    border: 2px solid var(--primary);
    font-size: 10pt;
    padding: 5px;
    width: 200px;
}
select {
    background-color: white;
}
.scrollwrapper {
    overflow: auto;
}
details.multiselect {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}
details.multiselect > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
}
.multiselect summary {
    font-size: large;
    font-weight: bold;
}
section.text {
    text-align: left;
}
div.stack {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
button.disabled {
    color: grey;
    border-color: grey;
    background-color: inherit;
}
button.disabled:hover {
    color: grey;
    background-color: inherit;
}
.subtle {
    color: var(--subtle);
}