@import './design.css';
footer {
    font-size: 10pt;
    background-color: var(--chalkline-navy);
    width: 100%;
    padding: 10px 0;
    margin-top: auto;
    text-align: center;
}
footer > p {
    color: white;
    margin: 10px;
}
.topnav {
    overflow: hidden;
    border-bottom: 2px var(--chalkline-navy) solid;
    margin-top: 10px;
}
.topnav a {
    float: left;
    color: var(--chalkline-navy);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s;
}
.topnav a.sign-in {
    color: white;
    background-color: var(--highlight-blue);
    box-shadow: 10px 10px 10px;
    padding-top: 12px;
    margin-right: 10px;
    border: 2px solid var(--chalkline-navy);
    border-radius: 15px;
    transition: all 0.3s;
}
.topnav a.sign-in:hover {
    color: var(--highlight-blue);
    background-color: white;
    border-radius: 15px;
}
.active {
    background-color: var(--chalkline-navy);
    color: white;
}
.topnav .menu-bars {
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropdown-button {
    font-size: 15px;
    border: none;
    outline: none;
    color: var(--chalkline-navy);
    transition: color 0.3s;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    font-weight: bold;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    border-bottom: 2px solid var(--chalkline-navy);
    border-left: 2px solid var(--chalkline-navy);
    border-right: 2px solid var(--chalkline-navy);
}
.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 
.nav-right {
    float: right;
}
.topnav a:hover:not(#menu-title, .sign-in) {
    text-decoration: underline;
    color: var(--highlight-blue);
}
#title {
    font-size: 15pt;
}
@media screen and (max-width: 850px) {
    .topnav a:not(#menu-title, .menu-bars, .sign-in), .dropdown .dropdown-button {
        display: none;
    }
    .topnav .menu-bars {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 850px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.menu-bars {
        position: absolute;
        top: 0;
        right: 0;
    }
    #main-navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    } 
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropdown-button {
        display: block;
        width: 100%;
        text-align: left;
    }
    .topnav.responsive .nav-right {
        float: left;
        margin: 5px;
    }
}