@import './design.css';

main {
    width: 70%;
    margin: 0 auto;
}
table.event-display {
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 15px;
}
section.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 50px;
}
.align-right {
    text-align: right;
}
th {
    padding: 5px 15px;
    font-size: 10pt;
}
td {
    background-color: var(--section-background);
    padding: 5px 15px;
    font-size: 10pt;
}
td:first-child, th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
td:last-child, th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.blue-text {
    color: blue;
    font-weight: bold;
}
.red-text {
    color: red;
    font-weight: bold;
}
.green-text {
    color: green;
    font-weight: bold;
}
.filter-section {
    display: flex;
    flex-direction: row;
}
.filter {
    margin: 5px;
    width: fit-content;
}
button.schedule-action {
    color: var(--chalkline-navy);
    background-color: white;
    font-weight: bold;
    border: 2px solid var(--chalkline-navy);
    border-radius: 15px;
    transition: all 0.3s;
}
button.schedule-action:hover {
    color: white;
    background-color: var(--chalkline-navy);
}
input.admin, select.admin {
    width: fit-content;
}
input.admin[type=number] {
    width: 50px;
}
h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}
button.disabled {
    color: grey;
    border-color: grey;
}
button.disabled:hover {
    color: grey;
    background-color: inherit;
}
@media screen and (max-width: 850px) {
    main {
        width: 95%;
    }
}