<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Created</title>
</head>
<body>
    <main>
        <h2>Account Created!</h2>
        <section>
            <h3>{{user.email}} has been linked to a new account.</h3>
            <h4>If this account was created without your knowledge, please contact chalklinebaseball@gmail.com</h4>
        </section>
        <p>Login here: www.chalklinebaseball.com/login</p>

    </main>

    <br><br>
    <p>Chalkline Baseball&trade; Copyright &copy; 2023 - 2025</p>
    <p>Created and Maintained by Aidan Hurwitz</p>
    <p>www.chalklinebaseball.com</p>
</body>
</html>