<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement</title>
</head>
<body>
    <main>
        <h2>{{user['fullName']}} sent you a message:</h2>
        <section>
            <h3>{{content}}</h3>
        </section>
        <p>This message was sent automatically to a group you belong to. You can opt-out of announcements at https://chalklinebaseball.com/profile</p>
    </main>

    <br><br>
    <p>Chalkline Baseball&trade; Copyright &copy; 2023 - 2025</p>
    <p>Created and Maintained by Aidan Hurwitz</p>
    <p>www.chalklinebaseball.com</p>
</body>
</html>