<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Field Status</title>
</head>
<body>
    <main>
        <h2>{{venue}} Status Updated: {{status}}</h2>
        <section>
            <h3>{{venue}}'s status has been updated to {{status}}.</h3>
            <h4>Visit www.chalklinebaseball.com/league/status for more information.</h4>
            <h4>Or, contact your local league.</h4>
        </section>

    </main>

    <br><br>
    <p>Chalkline Baseball&trade; Copyright &copy; 2023 - 2025</p>
    <p>Created and Maintained by Aidan Hurwitz</p>
    <p>www.chalklinebaseball.com</p>
</body>
</html>