<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <main>
        <h2>Chalkline: Reset Password</h2>
        <section>
            <h3>You have requested to reset your password for https://chalklinebaseball.com</h3>
            <h4>Click this or copy/paste into browser: {{res.protocol}}://{{res.domain}}/new-password/{{userId}}/{{token}}</h4>
        </section>
        <p>If you did not make this request, contact your administrator and change your email password immediately.</p>

    </main>

    <br><br>
    <p>Chalkline Baseball&trade; Copyright &copy; 2023 - 2025</p>
    <p>Created and Maintained by Aidan Hurwitz</p>
    <p>www.chalklinebaseball.com</p>
</body>
</html>