<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chalkline Reminder</title>
</head>
<body>
    <main>
        <h2>Weekly Reminder: You have events this week in {{sobj.location}}!</h2>
        <p>Hi {{user.firstName}}! Here's a summary of your upcoming events:</p>
        <section>
            {% for item in events %}
            <h3>You are the {{item.role}} on {{item.event.eventVenue}} Field {{item.event.eventField}} on {{item.event.eventDate.strftime('%a %m/%d at %H:%M')}} ({{item.event.eventAgeGroup}})</h3>
            <p>View event: www.chalklinebaseball.com/view-info/event/{{item.event._id}}</p>
            <br>
            {% endfor %}
        </section>
        <p>This email was sent automatically to {{user.email}} via Chalkline Baseball&trade;</p>
        <p>You may opt out from reminders at anytime through your <a href="https://chalklinebaseball.com/profile">Profile</a>.</p>
    </main>

    <br><br>
    <p>Chalkline Baseball&trade; Copyright &copy; 2023 - 2024</p>
    <p>Created and Maintained by Aidan Hurwitz</p>
    <p>www.chalklinebaseball.com</p>
</body>
</html>