<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umpire Shift Covered</title>
</head>
<body>
    <main>
        <h2>Umpire Shift Covered!</h2>
        <section>
            <h3>Your umpire duty for {{replaced}} on {{event.date.strftime('%a %m/%d at %H:%M')}} has been filled!</h3>
            <h4>Don't forget to contact the umpire who filled this duty for verification.</h4>
        </section>
        <p>View game here: www.chalklinebaseball.com/view/event/{{event._id}}</p>
    </main>
    <p>If you did not request this, please contact an administrator immediately.</p>
    <br><br>
    <p>Chalkline Baseball&trade; Copyright &copy; 2023 - 2024</p>
    <p>Created and Maintained by Aidan Hurwitz</p>
    <p>www.chalklinebaseball.com</p>
</body>
</html>