<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umpire Shift Covered</title>
</head>
<body>
    <main>
        <h2>Umpire Shift Covered!</h2>
        <section>
            <h3>Your umpire duty for {{team}} on {{event.eventDate.strftime('%a %m/%d at %H:%M')}} has been filled!</h3>
            <h4>Don't forget to contact the youth umpire who filled this duty for verification and payment.</h4>
        </section>
        <p>View game here: www.chalklinebaseball.com/view-info/event/{{event._id}}</p>
    </main>

    <br><br>
    <p>Chalkline&trade; Copyright &copy; 2023 - 2024</p>
    <p>Created and Maintained by Aidan Hurwitz</p>
    <p>www.chalklinebaseball.com</p>
</body>
</html>