<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Substitute Requested</title>
</head>
<body>
    <main>
        <h2>{{user.firstName}} {{user.lastName}} requested you cover their {{pos}} duty.</h2>
        <section>
            <h3>The game is on {{event.date.strftime('%a %m/%d at %H:%M')}}</h3>
            <h3>The age group is {{event.age}}.</h3>
            <h4>Chalkline did not find any conflicts for you during this time, but be sure to double check before accepting.</h4>
            <br>
            <h3>Please accept or decline the request <a href="https://chalklinebaseball.com/invite/substitute/{{event._id}}/{{auth}}">here</a></h3>
            <p>Or click: www.chalklinebaseball.com/invite/sub-request/{{event._id}}/{{auth}}</p>
            <p>This link will expire at 7:00 am.</p>
        </section>
    </main>
    <p>Contact an administrator if you notice any suspicious activity.</p>

    <br><br>
    <p>Chalkline Baseball&trade; Copyright &copy; 2023 - 2024</p>
    <p>Created and Maintained by Aidan Hurwitz</p>
    <p>www.chalklinebaseball.com</p>
</body>
</html>