@import './design.css';
main {
    width: 70%;
    margin: 0 auto;
}
.title {
    font-size: 4em;
    color: transparent;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    background-clip: text;
}
.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    padding: 15px;
    align-items: center;
    text-align: left;
    width: 80%;
    margin: auto;
}
div.divide {
    display: flex;
    flex-wrap: wrap;
}
div.divide > * {
    flex-grow: 1;
}
h1 {
    font-size: 25pt;
}
center {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.large-link {
    padding: 20px 40px;
    font-size: 12pt;
    width: 80px;
    margin: 10px auto;
}
.login {
    margin-bottom: 20px;
    box-shadow: 10px 10px 20px var(--highlight-blue);
}
section {
    background-color: var(--section-background);
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
}
p {
    margin: 5px;
}
h2 {
    margin: 10px;
}
h3 {
    margin: 15px;
}
#login label {
    display: block;
    font-weight: bold;
    font-size: 16pt;
    margin: 5x;
}
#login input {
    padding: 10px;
    width: 300px;
    font-size: 20pt;
    border-radius: 10px;
    border: 2px solid var(--chalkline-navy);
    margin: 10px auto;
    outline: none;
}
#login select {
    padding: 10px;
    width: 300px;
    font-size: 15px;
    margin: 10px auto;
}
#login input:focus {
    outline: 3px solid var(--highlight-blue);
}
i.large {
    font-size: 80pt;
}
i.menu {
    font-size: 40pt;
    margin: 10px 40px;
}
button.button-sign-in {
    margin: 10px auto;
    padding: 12px;
    font-size: 15pt;
    font-weight: bold;
    background-color: var(--highlight-blue);
    color: white;
    border: 2px solid var(--chalkline-navy);
    border-radius: 15px;
    box-shadow: 10px 10px 20px var(--highlight-blue);
    transition: all 0.3s;
}
button.button-sign-in:hover {
    color: var(--highlight-blue);
    background-color: white;
}
table.center {
    margin: auto;
    border-collapse: separate;
    border-spacing: 10px 10px;
}
table.center > tr {
    margin: 10px;
}
img {
    width: 50%;
    display: block;
    margin: 0 auto;
}
a.menu {
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 5px;
    color: var(--chalkline-navy);
    border: 2px solid var(--chalkline-navy);
    background-color: white;
    border-radius: 15px;
}
a.menu:hover {
    color: white;
    background-color: var(--chalkline-navy);
}
section.menu {
    transition: all 0.3s;
    margin: 15px 15px;
    width: 200px;
}
section.menu:hover {
    box-shadow: 15px 15px 15px var(--chalkline-navy);
}
div.hide {
    display: none;
}
section.menu:hover div.hide {
    display: block;
}
.about-page {
    box-shadow: 0px 0px 50px rgb(47, 0, 141);
    transition: box-shadow 0.3s;
}
.about-page:hover {
    box-shadow: 0 0 50px rgb(85, 0, 255);
}
div.pricing {
    background-color: white;
    border-radius: 20px;
    text-align: left;
}
@media screen and (max-width: 1000px) {
    main {
        width: 95%;
    }
    .split {
        flex-direction: column-reverse;
        padding: 5px;
    }
    .about-page .split:nth-child(odd) {
        flex-direction: column;
    }
    .about-page .split {
        text-align: center;
        width: 100%;
    }
    img {
        width: 90%;
    }
}