<head>
    <link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
    <script src="{{url_for('static', filename='schedule.js')}}" defer></script>
</head>

{% extends "design.html" %}
{% block title %}My Games{% endblock title %}

{% block content %}
<main>
    <section class="split">
        <div>
            <h1>My Games - {{res.user.firstLast}}</h1>
            <h3>View your schedule and remove games.</h3>
        </div>
        <div class="align-right">
            <h3>Go to <a href="{{url_for('umpire.schedule')}}">Umpire Schedule</a></h3>
            <p>To view all games for umpires.</p>
        </div>
    </section>
    <form method="post" name="form">
        {% include "filters.html" %}
        
        <p class="error">{{res.msg}}</p>
        <section class="schedule-section scrollwrapper">
            {% if events|length < 1 %}
            <h3 class="error">You have no upcoming games. Add games on the <a href="{{url_for('umpire.schedule')}}">Umpire Schedule</a></h3>
            {% else %}
            <table id="schedule-table" class="event-display">
                <tr>
                    <th></th>
                    <th>Date/Time</th>
                    <th>Venue</th>
                    <th>Field</th>
                    <th>Age Group</th>
                    <th>Status</th>
                    {% if not res.show_umps %}
                    <th>Umpires <a onclick="expand(true)"><i title="Show Umpires" class="fa-solid fa-up-right-and-down-left-from-center"></i></a></th>
                    {% else %}
                    <th>Umpires <a onclick="expand(false)"><i title="Hide Umpires" class="fa-solid fa-minimize"></i></a></th>
                    {% endif %}
                </tr>
                {% for e in events %}
                <tr class="event-row">
                    <td><a class="icon-link" href="{{url_for('view_info.event', eventId=e._id)}}"><i class="fa-solid fa-info"></i></a></td>
                    <td>{{e.date.strftime('%a %m/%d @ %H:%M')}}</td>
                    <td>{{e.venueId}}</td>
                    <td>{{e.field}}</td>
                    <td>{{e.age}}</td>
                    <td>{{e.status}}</td>
                    
                    {% if not res.show_umps %}
                    <td><button type="button" onclick="openPopup('{{e._id}}')" class="schedule-action"><i class="fa-solid fa-magnifying-glass"></i> view</button></td>
                    {% else %}
                    {% for pos, u in e.umpires.items() %}
                        <td>
                            {% if u.coach_req or not u.team_duty %}
                                {% if u.user %}
                                    {% if u.user.userId == res.user.userId %}
                                    <a href="{{url_for('view_info.user', userId=u.user.userId)}}">{{u.user.firstLast}}</a>
                                    <button title="Substitute" type="submit" name="substitute" value="{{e._id}}" class="schedule-action"><i class="fa-solid fa-shuffle"></i></button>
                                        {% if 'umpire_remove' in res.user_perms %}
                                            <button title="Remove game" type="submit" name="remove" value="{{pos}}_{{e._id}}" class="schedule-action danger" onclick="return confirm('Remove game?')"><i class="fa-solid fa-circle-minus"></i></button>
                                        {% endif %}
                                    {% else %}
                                    <a href="{{url_for('view_info.user', userId=u.user.userId)}}">{{u.user.firstLast}}</a>
                                    {% endif %}
                                {% else %}
                                Open
                                {% endif %}
                            {% else %}
                                {{u.team_duty}}
                            {% endif %}
                        </td>
                        {% endfor %}
                    {% endif %}


                    <dialog class="popup" id="popup_{{e._id}}">
                        <a onclick="closePopup('{{e._id}}')" class="error"><i class="fa-solid fa-xmark"></i> Close</a>
                        <h3>{{e.age}}: {{e.venueId}}, {{e.leagueId}}</h3>
                        <h4>Field {{e.field}} @ {{e.date.strftime('%a %m/%d %H:%M')}}</h4>
                        {% for pos, u in e.umpires.items() %}
                        <label for="{{pos}}">{{pos}}: </label>
                            {% if u.coach_req or not u.team_duty %}
                                {% if u.user %}
                                    {% if u.user.userId == res.user.userId %}
                                    <a href="{{url_for('view_info.user', userId=u.user.userId)}}">{{u.user.firstLast}}</a>
                                    <button type="submit" name="substitute" value="{{e._id}}" class="schedule-action">Substitute</button>
                                        {% if 'umpire_remove' in res.user_perms %}
                                            <button onclick="return confirm('Remove game?')" type="submit" name="remove" value="{{pos}}_{{e._id}}" class="schedule-action danger">Remove</button>
                                        {% endif %}
                                    {% else %}
                                    <a href="{{url_for('view_info.user', userId=u.user.userId)}}">{{u.user.firstLast}}</a>
                                    {% endif %}
                                {% else %}
                                Open
                                {% endif %}
                            {% else %}
                                {{u.team_duty}}
                            {% endif %}
                            <br><br>
                        {% endfor %}
                    </dialog>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </section>
    </form>
    <section id="substituting">
        <h3><i class="fa-solid fa-shuffle"></i> Substituting Games</h3>
        <p>A game may be substituted with another umpire if a conflict arises. <br>Selecting <b>Substitute</b>
        will allow you to select another umpire and send them an email with the game information. <br> 
        The recipient umpire may then accept the game, at which point it will be removed from your schedule.</p>
        <p>For more info, see <a target="_blank" href="{{url_for('docs.umpire_substitutions')}}">Substituting Games</a></p>
    </section>
</main>

{% endblock content %}