<head>
    <link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
    <script src="{{url_for('static', filename='schedule.js')}}" defer></script>
</head>

{% extends "design.html" %}
{% block title %}Umpire Schedule{% endblock title %}

{% block content %}
<main>
    <section class="split">
        <div>
            <h1>Umpire Schedule</h1>
            <h3>View schedule and add games.</h3>
        </div>
        <div class="align-right">
            <h3>Go to <a href="{{url_for('umpire.assignments')}}">My Games</a></h3>
            <p>To view games you are working.</p>
        </div>
    </section>
    <form method="post">
        <button type="button" onclick="toggleFilterSection('filter-section')" class="filter-dropdown action"><i class="fa-solid fa-filter"></i> Filters</button>
        <section id="filter-section" class="filter-section" style='display: none;'>
            <select class="filter" name="hide_past" id="hide_past" onchange="this.form.submit()">
                <option value="True" selected>Future only</option>
                <option value="False">Past and Future</option>
            </select>
            <select class="filter" name="age" id="age" onchange="this.form.submit()">
                <option value="None" selected>All Age Groups</option>
                {% for age in league.age_groups %}
                    <option value="{{ag}}">{{ag}} only</option>
                {% endfor %}
            </select>
        </section>

        <p class="error">{{res.msg}}</p>
        <section class="schedule-section scrollwrapper">
            {% if events|length < 1 %}
            <h3 class="error">No games found.</h3>
            {% endif %}
            <table id="schedule-table" class="event-display">
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Venue</th>
                    <th>Field</th>
                    <th>Age Group</th>
                    <th>Status</th>
                    <th>Umpires</th>
                </tr>
                {% for e in events %}
                    <tr>
                        <td><a class="icon-link"><i class="fa-solid fa-info"></i></a></td>
                        <td>{{e.date.strftime('%a %m/%d @ %H:%M')}}</td>
                        <td>{{e.venueId}}</td>
                        <td>{{e.field}}</td>
                        <td>{{e.age}}</td>
                        <td>{{e.status}}</td>
                        {% if e.umpire_full %}
                        <td><button type="button" onclick="openPopup('{{e._id}}')" class="schedule-action"><i class="fa-solid fa-magnifying-glass"></i> view</button></td>
                        {% else %}
                        <td><button type="button" onclick="openPopup('{{e._id}}')" class="schedule-action">+ add</button></td>
                        {% endif %}
                    </tr>

                    <dialog class="popup" id="popup_{{e._id}}">
                        <a onclick="closePopup('{{e._id}}')" class="error"><i class="fa-solid fa-xmark"></i> Close</a>
                        <h3>{{e.age}}: {{e.venueId}}, {{e.leagueId}}</h3>
                        <h4>Field {{e.field}} @ {{e.date.strftime('%a %m/%d %H:%M')}}</h4>
                        {% for pos, u in e.umpires.items() %}
                        <label for="{{pos}}">{{pos}}: </label>
                            {% if u.user %}
                                <a>{{u.user.firstLast}}</a>
                            {% elif u.team_duty and not u.coach_req %}
                                Team Duty ({{u.team_duty}})
                            {% else %}
                                <button class="schedule-action" name="add_game" value="{{e._id}}_{{pos}}">+ {{pos}}</button>
                            {% endif %}
                            <br><br>
                        {% endfor %}
                    </dialog>
                    
                {% endfor %}
            </table>
        </section>
        <button id="load-more" type="button" class="action" onclick="load()">Load More</button>
    </form>
</main>
{% endblock content %}