<head>
    <link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
    <script src="{{url_for('static', filename='schedule.js')}}"></script>
</head>

{% extends "design.html" %}
{% block title %}Umpire Schedule{% endblock title %}

{% block content %}
<main>
    <section class="split">
        <div>
            <h1>Umpire Schedule</h1>
        </div>
        <div class="align-right">
            <h3><a href="#">My Games</a></h3>
            <p>View games you are working.</p>
        </div>
    </section>
    <button type="" onclick="toggleFilterSection('filter-section')" class="filter-dropdown action">Filters <i class="fa-solid fa-caret-down"></i></button>
    <form method="post">
        <section id="filter-section" class="filter-section" style='display: none;'>
            <select name="updateFilter" id="updateFilter" style="display: none;">
                <option value="updateFilter" selected>UpdateFilter</option>
            </select>
            <select class="filter" name="hidePast" id="hidePast" onchange="this.form.submit()">
                <option value="True" selected>Upcoming events</option>
                <option value="False">All events (past included)</option>
            </select>
            <select class="filter" name="ageGroup" id="ageGroup" onchange="this.form.submit()">
                <option value="null" selected>All Age Groups</option>
                <option value="AA">AA only</option>
                <option value="AAA">AAA only</option>
                <option value="Majors">Majors only</option>
                <option value="50/70">50/70 only</option>
                <option value="Juniors">Juniors only</option>
            </select>
        
            <script>
                let filter = {{ eventFilter | tojson }};
                document.getElementById('hidePast').value = filter.hidePast;

                function toggleFilterSection(section) {
                    let sect = document.getElementById(section);
                    if (sect.style.display == 'block') {
                        sect.style.display = 'none';
                    }
                    else {
                        sect.style.display = 'block';
                    }
                }
            </script>
        </section>

        <section class="schedule-section scrollwrapper">
            {% if eventList|length < 1 %}
            <h3 class="error">No games found.</h3>
            {% endif %}
            <table id="schedule-table" class="event-display">
                <tr>
                    <th>Info</th>
                    <th>Venue</th>
                    <th>Date/Time</th>
                    <th>Field</th>
                    <th>Age Group</th>
                    <th>Plate</th>
                    <th>Field</th>
                </tr>
                {% for event in eventList %}
                <tr class="event-row">
                    <td><a class="icon-link" href="#"><i class="fa-solid fa-info"></i></a></td>
                    <td>{{event.eventVenue}}</td>
                    <td>{{event.eventDate.strftime('%a %m/%d @ %H:%M')}}</td>
                    <td>{{event.eventField}}</td>
                    <td>{{event.eventAgeGroup}}</td>
                    <td>{{event.plateUmpire}}</td>
                    <td>{{event.field1Umpire}}</td>
                </tr>
                {% endfor %}
                
            </table>
            
        </section>
    </form>
</main>

<script>
    let tbl = document.getElementById('schedule-table');
    colorifySchedule(tbl);
</script>
{% endblock content %}