<head>
    <link rel="stylesheet" href="{{url_for('static', filename='view_game/view.css')}}">
</head>

{% extends "design.html" %}

{% block title %}Substitute{% endblock title %}

{% block content %}
<main>
<center>
    <h1>Substitute Umpire</h1>
    <form method="post">
        <button type="submit" name="accept" value="accept" class="action" style="background-color: green;" onclick="return confirm('Accept substitution?')">Accept</button>
        <button type="submit" name="decline" value="decline" class="action" style="background-color: red;" onclick="return confirm('Decline substitution?')">Decline</button>
    </form>
    <section>
        <p class="urgent">You would replace {{req_user.firstLast}} at {{pos}}!</p>
    </section>
    <h3 class="error">{{res.msg}}</h3>
    <section>
        <center>
            <h2>{{event.leagueId}} - {{pos}}</h2>
            <h3>{{event.date.strftime('%a %m/%d @ %H:%M')}}</h3>
            <h3>{{event.venueId}} Field {{event.field}}</h3>
            <h3>(away) {{event.away}} vs. {{event.home}} (home)</h3>
        </center>
    </section>

    <center><h3>Umpires</h3></center>
    
    {% for pos, ump in event.umpires.items() %}
    <section>
        {% if ump.user %}
        <center>
            <h3>{{pos}}: {{ump.user.firstLast}}</h3>
            <p>Email: {{ump.user.email}}</p>
            <p>Phone: {{ump.user.phone}}</p>
        </center>
        {% elif ump.team_duty %}
        <center>
            <h3>{{pos}}: Team Duty ({{ump.team_duty}})</h3>
        </center>
        {% else %}
        <center>
            <h3>{{pos}}: Open</h3>
        </center>
        {% endif %}

    </section>
    {% endfor %}
</center>
</main>

{% endblock content %}