@import '../design.css';
@import '../main/home.css';

#docnav {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    border-bottom: 2px solid var(--chalkline-navy);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#docnav > a {
    margin: 2px 10px;
}