<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main/home.css')}}">
</head>
{% extends "design.html" %}
{% block title %}About{% endblock title %}

{% block content %}
<main>
    <center>
        <h1>About Chalkline</h1>
        <section>
            <center>
                <h2>Questions?</h2>
                <h3>View Chalkline&trade; <a href="{{url_for('docs.home')}}">Documentation</a></h3>
            </center>
        </section>
        <section>
            <center>
                <h2>Support the Developer!</h2>
                <p>Donate just $2 to help fund updates and show your support!</p>
                <h3>You can <a target="_blank" href="https://www.buymeacoffee.com/aidanhurwitz">buy me a coffee here</a> to show support.</h3>
                <h3>Contact your <a href="{{url_for('league.info')}}">league</a> to help fund umpires, equipment, and services that help your league run.</h3>
            </center>
        </section>
        <section>
            <center>
                <h2>Want to use Chalkline&trade; for your league?</h2>
                <h3>Contact Aidan Hurwitz at <a href="mailto:chalklinebaseball@gmail.com">chalklinebaseball@gmail.com</a> for more info!</h3>
            </center>
        </section>
        <section id="about-page">
            <h2>What is Chalkline?</h2>
            <section class="split">
                <div>
                    <h3>Chalkline, your all-in-one website for everything Little League Baseball.</h3>
                    <p>Chalkline incorporates scheduling, umpiring, coaching, and league services into one, simple webapp.</p>
                </div>
                <div>
                    <i class="fa-solid fa-baseball large"></i>
                </div>
            </section>
            <section class="split">
                <div>
                    <i class="fa-solid fa-clipboard-check large"></i>
                </div>
                <div>
                    <h3>Schedule practices, games, and umpires easily with one click.</h3>
                    <p>Master schedules are easily accessible and custom views are available for each user.</p>
                    <p>Teams can view the standings and their upcoming games or practices.</p>
                </div>
            </section>
            <section class="split">
                <div>
                    <h3>Umpiring made simple.</h3>
                    <p>Chalkline allows umpires to schedule themselves, without the need for an assignor.</p>
                    <p>Leagues can assign games manually, or let umpires choose their own schedule.</p>
                    <p>Coaches can request field umpires to fill their umpire duty.</p>
                </div>
                <div>
                    <i class="fa-solid fa-glasses large"></i>
                </div>
            </section>
            <section class="split">
                <div>
                    <i class="fa-solid fa-bullhorn large"></i>
                </div>
                <div>
                    <h3>Never miss an update.</h3>
                    <p>Coaches can send announcments to their entire team.</p>
                    <p>League administrators can send game/field updates to all users.</p>
                </div>
            </section>
            <section class="split">
                <div>
                    <h3>Always improving.</h3>
                    <p>Updates with new features are pushed out every week.</p>
                    <p>View the <a href="#developers-log">Developer's Log</a>.</p>
                </div>
                <div>
                    <i class="fa-solid fa-wrench large"></i>
                </div>
            </section>
            <section class="split">
                <div>
                    <i class="fa-solid fa-scale-balanced large"></i>
                </div>
                <div>
                    <h3>Affordable pricing.</h3>
                    <p>All Stars services included.</p>
                    <p>All features included.</p>
                    <p>Standard messaging and data rates apply for each user.</p>
                </div>
            </section>
        </section>
    </center>
    <section id="developers-log">
        <h2>Developer's Log</h2>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Added rental equipment system.</p>
                <p>Added admin features for rental equipment.</p>
                <p>Added age group filter on master schedule.</p>
                <p>Added supporter section to home page.</p>
                <p>Bug fixes.</p>
            </div>
            <div>
                <h3>v4.6.0</h3>
                <h4>Feb. 7 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Added priority adding.</p>
                <p>Bug fixes.</p>
            </div>
            <div>
                <h3>v4.5.0</h3>
                <h4>Jan. 31 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Updated homescreen.</p>
                <p>Added warning message for coaches and parents without linked team upon login.</p>
                <p>Added support for bulk emailing.</p>
                <p>Emails are now sent asynchronously.</p>
                <p>Updated Git backups and branch systems.</p>
                <p>Bug fixes.</p>
            </div>
            <div>
                <h3>v4.4.0</h3>
                <h4>Jan. 15 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Added html uploads for announcments.</p>
                <p>Logging in now records attempted time and date.</p>
                <p>Tweaked password reset email.</p>
            </div>
            <div>
                <h3>v4.3.0</h3>
                <h4>Jan. 3 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Fixed invite links for adding teams to account.</p>
                <p>Tweaked login routing.</p>
            </div>
            <div>
                <h3>v4.2.2</h3>
                <h4>Dec. 30 2023</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Added email/password authentication</p>
                <p>Added password hashing</p>
                <p>Added reset password functionality</p>
                <p>Fixed AA support</p>
                <p>Bug fixes</p>
            </div>
            <div>
                <h3>v4.2.0</h3>
                <h4>Dec. 14 2023</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Added emailing system</p>
                <p>Added Admin tools</p>
                <p>Tweaked login function</p>
                <p>Added support for AA and below</p>
                <p>Bug fixes</p>
                <p>More bug fixes</p>
            </div>
            <div>
                <h3>v4.1.0</h3>
                <h4>Dec. 9 2023</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>What isn't new?!</p>
                <p>And bug fixes...</p>
            </div>
            <div>
                <h3>v4.0.0</h3>
                <h4>Nov. 16 2023</h4>
            </div>
        </div>
    </section>
</main>

{% endblock content %}