<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main/home.css')}}">
</head>
{% extends "design.html" %}

{% block title %}April Fools!{% endblock title %}

{% block content %}
<main>
    <center>
        <h1>Chalkline now uses machine learning to accurately diagnose vision disorders in umpires from coach complaints</h1>
        <p><time datetime="2024-04-01" pubdate>4/1/2024</time> Published by Aidan Hurwitz - Support my research <a target="_blank" href="https://buymeacoffee.com/aidanhurwitz">here</a></p>
    </center>
    <section>
    <h3>Abstract</h3>
    <p style="text-indent: 20px;">
        Chalkline research has shown that the amount of complaints from coaches about a specific umpire directly correlates with their visual acuity. 
        By utilizing machine learning algorithms, Chalkline factors in hundreds of data points together to form a practical and accurate diagnosis 
        of each umpire's eyesight. This information is then exported to leagues and used in their new pay grade systems.
    </p>
    <h3>Technicals</h3>
    <p style="text-indent: 20px;">
        A series of training models was developed in order to make this automation possible. Notably, hours of computing power 
        was borrowed from top research labs across the United States. In collaboration with "big-Pharma" and the tech leader of data 
        collection, Google, umpires' personal information was easily accessed and used in training models. These neural networks were then 
        given a slough of complaints, mostly from AA and AAA coaches. The complaints were quantified based on trigger phrases such as "awful", 
        "unprofessional", "blind", "my grandma could do better", etc. 
    </p>
    <p style="text-indent: 20px;">
        Once quantified, the complaints were averaged and compared over time with the other personal factors by the machine learning algorithm. 
        "It was crucial that we get this done in a timely manner," said Aidan Hurwitz, the lead developer on the project. "If we delay this information 
        any longer, who knows how bad the strike zones will get before a coach loses it on the field?"
    </p>
    <h3>Practical Use</h3>
    <p style="text-indent: 20px;">
        Aside from providing <em>insightful</em> medical information, Chalkline's vision diagnosis system gives leagues a practical way to 
        pay umpires based on skill. For example, umpires with better eyesight are given playoff games, and umpires with worse eyesight are 
        assigned to Steve Lanners' games in Sarasota. This way, everyone wins! Additionally, Hurwitz reported that the system is already in place and 
        ready to be utilized. "It's amazing how little people care about the terms and conditions," he said. 
    </p>
    <p style="text-indent: 20px;">
        Most league officials in Sarasota showed their support with kind words, but some colorfully displayed their disagreement with the new system. 
        "This is bullsh*t," says UIC Dave Miller. "I'm a cop and I know my eyesight is damn near perfect, but due to all the complaints, Chalkline 
        thinks I need glasses!"  
    </p>
    <p style="text-indent: 20px;">
        Others complained that the system does not consider the coach's eyesight, suggesting that umpires with bad 
        performance may be working games with blinder coaches. Local blind coach Brian Whitlock was asked his thoughts on the matter. 
        "I think the system is great. I've been telling these guys for years they're in need of contacts, at the very least."
    </p>
    <h3>Results</h3>
    <p style="text-indent: 20px;">
        Although Chalkline's eyesight evaluating system may not be the most ethical, it certainly produces <em>eye-opening</em> results. 
        Only in time will we truly know if fixing eyesight fixes umpiring, or if it really is just a hard job...
    </p>
    <p><b><address>Aidan Hurwitz</address>2024</b></p>
    <h3>Disclaimer</h3>
    <p>
        ** This is an April Fools joke. Please do not ask about your own eyesight score from Chalkline Baseball&trade;. <br>
        ** Thank you to all named persons in this article for putting up with me. <br>
        ** Please consider supporting Chalkline Baseball&trade; using the link at the top.
    </p>
</section>
    <a href="#">Go to Top</a>
</main>

{% endblock content %}