<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main/home.css')}}">
</head>
{% extends "design.html" %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<main>
    <center>
        <h1>Create Account</h1>
        <form method="post" id="signup" autocomplete="on">
            <section>
                
                <h3 class="error">{{res.msg}}</h3>
                <table class="center">
                    <h3>Need Help? Read the <a target="_blank" href="{{url_for('docs.account_creation')}}">docs</a>.</h3>
                    <p class="error">* required</p>
                    <tr>
                        <td><label for="location">League <b class="error">*</b></label></td>
                        <td><select name="location" id="location" required>
                            <option value="Sarasota" selected>Sarasota</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><label for="firstName">First Name <b class="error">*</b></label></td>
                        <td><input type="text" name="firstName" id="firstName" required></td>
                    </tr>
                    <tr>
                        <td><label for="lastName">Last Name <b class="error">*</b></label></td>
                        <td><input type="text" name="lastName" id="lastName" required></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email <b class="error">*</b></label></td>
                        <td><input type="email" name="email" id="email" required></td>
                    </tr>
                    <tr>
                        <td><label for="userId">Username <b class="error">*</b></label></td>
                        <td><input type="text" name="userId" id="userId" required></td>
                    </tr>
                    <tr>
                        <td><label for="userId">Password <b class="error">*</b></label></td>
                        <td><input type="password" name="pword" id="pword" required></td>
                        <td><a href="#password">?</a></td>
                    </tr>
                    <tr>
                        <td><label for="phone">Phone <b class="error">*</b></label></td>
                        <td><input type="tel" pattern="[0-9]{10}" name="phone" id="phone" minlength="10" required></td>
                    </tr>
                    
                </table>
                <h3>Account Type <b class="error">*</b> <a href="#account-types">?</a></h3>

                <table class="center">
                    <tr>
                        <td><label for="role-coach">Coach</label></td>
                        <td><input type="checkbox" name="role-coach" id="coach"></td>
                    </tr>
                    <tr>
                        <td><label for="role-parent">Parent</label></td>
                        <td><input type="checkbox" name="role-parent" id="parent"></td>
                    </tr>
                    <tr>
                        <td><label for="role-umpire">Umpire</label></td>
                        <td><input type="checkbox" name="role-umpire" id="umpire"></td>
                    </tr>
                    <tr>
                        <td><label for="role-youth">Youth Umpire</label></td>
                        <td><input type="checkbox" name="role-youth" id="youth"></td>
                    </tr>
                    <tr>
                        <td><label for="role-board">Board Member</label></td>
                        <td><input type="checkbox" name="role-board" id="board"></td>
                    </tr>
                    <tr>
                        <td><label for="role-pass">League Password (for umpires and board members)</label></td>
                        <td><input type="text" name="role-pass" id="role-pass"></td>
                    </tr>
                </table>

                <button class="button-sign-in" type="submit">Next</button>
            </section>
        </form>
        <section id="password">
            <h2>Your password is Chalkline&trade; Secure.</h2>
            <section class="split">
                <div>
                    <h3>Your password is your key to logging in.</h3>
                    <p>A password must be unique and kept protected.</p>
                    <p>Your password is kept super secret secure via <a target="_blank" href="{{url_for('docs.security')}}">Chalkline&trade; Hashing</a></p>
                </div>
                <div>
                    <i class="fa-solid fa-lock large"></i>
                </div>
            </section>
        </section>
        <section id="account-types">
            <h2>Which roles(s) should I choose?</h2>
            <section class="split">
                <div>
                    <h3>Each role customizes your Chalkline&trade; experience.</h3>
                    <p><b>Coaches</b> can view their team's practice, game, and umpire schedule. They can also request youth umpires and sned messages to their team via email/text.</p>
                    <p><b>Parents</b> can view their team's practice, game, and umpire schedule.</p>
                    <p><b>Umpires</b> can sign up for plate/field duties and view upcoming games.</p>
                    <p><b>Youth Umpires</b> can sign up for coach-requested duties and view upcoming games.</p>
                    <p><b>Board Members</b> can sign up for Director on Duty shifts, make reports, view the schedule, and contact umpires/coaches.</p>
                    <p><b>Admins</b> can edit data and send out mass messages. Contact administrator for access.</p>
                </div>
                <div>
                    <i class="fa-solid fa-users large"></i>
                </div>
            </section>
        </section>
    </center>
</main>

{% endblock content %}