<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main/home.css')}}">
</head>
{% extends "design.html" %}
{% block title %}Home{% endblock title %}
{% block content %}

<main>
    <center>
        {% if not res.user %}
        <h1 class="title">Chalkline Baseball</h1>
        <a class="login large-link" href="{{url_for('main.login')}}">Sign In <i class="fa-solid fa-user"></i></a>
        <a href="{{url_for('main.signup')}}">Create Account</a>
        {% else %}
        <h1>Hello, {{res.user.firstName}}!</h1>
            {% if ('coach' in res.user.groups or 'parent' in res.user.groups) and res.user.teams == [] %}
                <h3 class="error">You have 0 teams linked to your account. Add one to your <a href="{{url_for('main.profile')}}">profile</a>!</h3>
            {% endif %}
        {% endif %}
    <br>
        {% if res.user %}
        <div class="divide">
            {% if 'coach' in res.user.groups or 'parent' in res.user.groups %}
            <section class="menu" onclick="toggleOpen('teams-menu')">
                <h2>Teams</h2>
                <i class="fa-solid fa-users menu"></i>
                <div class="hide" id="teams-menu">
                    <a href="{{url_for('teams.schedule')}}" class="menu">Team Schedule</a>
                    <a href="{{url_for('teams.info')}}" class="menu">Info and Contacts</a>
                </div> 
            </section>
            {% endif %}
            {% if 'umpire' in res.user.groups or 'youth' in res.user.groups %}
            <section class="menu" onclick="toggleOpen('umpire-menu')">
                <h2>Umpire</h2>
                <i class="fa-solid fa-clipboard-list menu"></i>
                <div class="hide" id="umpire-menu">
                    <a href="{{url_for('umpire.schedule')}}" class="menu">Umpire Schedule</a>
                    <a href="{{url_for('umpire.assignments')}}" class="menu">My Games</a>
                </div>
            </section>
            {% endif %}
            {% if 'director' in res.user.groups %}
            <section class="menu" onclick="toggleOpen('director-menu')">
                <h2>Director</h2>
                <i class="fa-solid fa-street-view menu"></i>
                <div class="hide" id="director-menu">
                    <a href="{{url_for('director.week')}}" class="menu">This Week's Games</a>
                    <a href="{{url_for('director.schedule')}}" class="menu">Director Schedule</a>
                    <a href="{{url_for('director.shifts')}}" class="menu">My Shifts</a>
                </div>
            </section>
            {% endif %}
            <section class="menu" onclick="toggleOpen('league-menu')">
                <h2>League</h2>
                <i class="fa-solid fa-baseball-bat-ball menu"></i>
                <div class="hide" id="league-menu">
                    <a href="{{url_for('league.master_schedule')}}" class="menu">Master Schedule</a>
                    <a href="{{url_for('league.status')}}" class="menu">Field Status</a>
                </div>
            </section>
            {% if res.admin %}
            <section class="menu" onclick="toggleOpen('admin-menu')">
                <h2>Admin</h2>
                <i class="fa-solid fa-wrench menu"></i>
                <div class="hide" id="admin-menu">
                    <a href="{{url_for('admin.event_data')}}" class="menu">Event Data</a>
                    <a href="{{url_for('admin.user_data')}}" class="menu">User Data</a>
                    <a href="{{url_for('admin.team_data')}}" class="menu">Team Data</a>
                    <a href="{{url_for('admin.dod_data')}}" class="menu">DoD Shift Data</a>
                    <a href="{{url_for('admin.rental_data')}}" class="menu">Rental Data</a>
                    <a href="{{url_for('admin.announcement')}}" class="menu">Send Announcement</a>
                </div>
            </section>
            {% endif %}
        </div>
        <script>
            function toggleOpen(section_id) {
                let menu = document.getElementById(section_id);
                if (menu.style.display == 'none') {
                    menu.style.display = 'block';
                }
            }
        </script>
        {% endif %}
        <h2>Chalkline News</h2>
        <section>
            <h3>New: Sync iCalendar or Google Calendar with Chalkline!</h3>
            <p>See all of your games, practices, and umpire duties on the calendar app of your choice!</p>
            <p>Go to your <a href="{{url_for('main.profile')}}">Profile</a> to get started.</p>
        </section>
        <section id="supporters">
            <h3>You can support Chalkline <a target='_blank' href="https://buymeacoffee.com/aidanhurwitz">here!</a></h3>
            <h3 class="urgent">Thank you to supporters of Chalkline&trade;!</h3>
            <p>Dave Miller</p>
            <p>Chris Riley</p>
            <p>Scott Elsberry</p>
            <p>Luke Radcliffe</p>
        </section>
        <section>
            <h3>Find a bug?</h3>
            <h4>Report it immediately to Aidan Hurwitz at <a href="mailto:chalklinebaseball@gmail.com">chalklinebaseball@gmail.com</a></h4>
        </section>

        <h1>About Chalkline Baseball&trade;</h1>
        <section id="about" class="about-page">
            <h2 class='urgent'>How the magic works <i class="fa-solid fa-wand-magic-sparkles"></i></h2>
            <section class="split">
                <div>
                    <h3>It all starts with a league...</h3>
                    <p>Your league creates a Chalkline setup and imports any data necessary for the season.</p>
                    <p>Customizing your league is easy and built-in.</p>
                    <p>Chalkline supports as many teams and users as you provide.</p>
                </div>
                <div>
                    <i class="fa-solid fa-baseball-bat-ball large"></i>
                </div>
            </section>
            <section class="split">
                <div>
                    <i class="fa-solid fa-calendar-days large"></i>
                </div>
                <div>
                    <h3>Scheduling is key.</h3>
                    <p>Import your schedule or have Chalkline create one for you.*</p>
                    <p>Master schedules are easily accessible and custom views are available for each user.</p>
                    <p>Teams can view the standings and their upcoming games or practices.</p>
                </div>
            </section>
            <section class="split">
                <div>
                    <h3>Umpires are the cogs of the machine.</h3>
                    <p>Chalkline Baseball&trade; allows umpires to schedule themselves, without the need for an assignor.</p>
                    <p>Leagues can assign games manually, or let umpires choose their own schedule.</p>
                    <p>Coaches can request field umpires to fill their umpire duty, saving time and money.</p>
                </div>
                <div>
                    <i class="fa-solid fa-gears large"></i>
                </div>
            </section>
            <section class="split">
                <div>
                    <i class="fa-solid fa-bullhorn large"></i>
                </div>
                <div>
                    <h3>Never miss an update.</h3>
                    <p>Leagues can send announcments to everyone, or to individual groups/teams.</p>
                    <p>Rain delay alerts and field closures can be displayed and users can be alerted in seconds.</p>
                    <p>Automatic reminders are sent out when umpire shifts are filled or game details are changed.</p>
                </div>
            </section>
            <section class="split">
                <div>
                    <h3>Always improving.</h3>
                    <p>Updates with new features are pushed out every week.</p>
                    <p>Literally. Every week.</p>
                    <p>View the <a href="#developers-log">Developer's Log</a>.</p>
                </div>
                <div>
                    <i class="fa-solid fa-wrench large"></i>
                </div>
            </section>
            <section class="split">
                <div>
                    <i class="fa-solid fa-piggy-bank large"></i>
                </div>
                <div>
                    <h3>Dirt cheap.</h3>
                    <p>Pay by season as you need. Pricing is always negotiable.</p>
                    <p>All features included, no additional purchases needed.</p>
                    <p>Standard messaging and data rates apply for each user.</p>
                </div>
            </section>
        </section>
    </center>
        <p>* automatic scheduling is currently under development</p>
        <section>
            <center>
                <h2>Questions?</h2>
                <h3>View Chalkline <a href="{{url_for('docs.home')}}">Documentation</a></h3>
            </center>
        </section>
        <section>
            <center>
                <h2>Support the Developer!</h2>
                <p>Donate just $2 to help fund updates and show your support!</p>
                <h3>You can <a target="_blank" href="https://www.buymeacoffee.com/aidanhurwitz">buy me a coffee here</a> to show support.</h3>
                <h3>Contact your <a href="{{url_for('league.info')}}">league</a> to help fund umpires, equipment, and services that help your league run.</h3>
            </center>
        </section>
        <section>
            <center>
                <h2>Want to use Chalkline Baseball&trade; for your league?</h2>
                <h3>Contact Aidan Hurwitz at <a href="mailto:chalklinebaseball@gmail.com">chalklinebaseball@gmail.com</a> for more info!</h3>
            </center>
        </section>
        
    <center>
    <br>
    <center>
        <p>Chalkline Baseball&trade; is developed and maintained by Aidan Hurwitz</p>
        <p>Copyright &copy; 2023 - 2024 Aidan Hurwitz</p>
        <p>www.chalklinebaseball.com</p>
        <p>All Rights Reserved.</p>
    </center>
    <section id="developers-log">
        <h2>Developer's Log</h2>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Login redirect now works for Profile page.</p>
                <p>Fixed calendar link logging.</p>
                <p>Bug fixes.</p>
            </div>
            <div>
                <h3>v4.12.7</h3>
                <h4>Apr. 24 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Added iCalendar syncing.</p>
                <p>Added iCalendar link in profile.</p>
                <p>Bug fixes.</p>
                <p>Updated copyrights.</p>
            </div>
            <div>
                <h3>v4.12.0</h3>
                <h4>Apr. 7 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Added user page for Admins.</p>
                <p>Added multi-league support.</p>
                <p>Updated view-info/user page.</p>
                <p>Updated design and version tracker.</p>
                <p>Added additional admin features.</p>
                <p>Added April Fools article.</p>
                <p>Bug fixes.</p>
            </div>
            <div>
                <h3>v4.11.0</h3>
                <h4>Mar. 27 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Admins can now turn on/off their privileges during a session.</p>
                <p>Added substitution system.</p>
                <p>Updated docs.</p>
                <p>Added conflict checker for umpires.</p>
                <p>Added additional admin features.</p>
                <p>QOL updates.</p>
                <p>Added more emailing features and reminders.</p>
                <p>Bug fixes.</p>
            </div>
            <div>
                <h3>v4.10.0</h3>
                <h4>Mar. 4 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Split reminder mail into 7 unique groups, one per day.</p>
                <p>Changed daily reminders to weekly.</p>
                <p>Switched from SSL to TLS protocol.</p>
                <p>Bug fixes.</p>
            </div>
            <div>
                <h3>v4.9.0</h3>
                <h4>Feb. 21 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Error handling and response codes updated.</p>
                <p>Debugging tools updated.</p>
                <p>Bug fixes.</p>
            </div>
            <div>
                <h3>v4.8.1</h3>
                <h4>Feb. 17 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Added automatic email reminders at 07:00 every day.</p>
                <p>Updated about page.</p>
            </div>
            <div>
                <h3>v4.8.0</h3>
                <h4>Feb. 16 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Squashed bug - permissions not loading in after creating account.</p>
            </div>
            <div>
                <h3>v4.7.4</h3>
                <h4>Feb. 12 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Bug fixes.</p>
            </div>
            <div>
                <h3>v4.7.3</h3>
                <h4>Feb. 10 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Edited schedule pages and added filters.</p>
                <p>Lots of bug fixes.</p>
            </div>
            <div>
                <h3>v4.7.2</h3>
                <h4>Feb. 8 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Added ability to remove youth umpire request if unfulfilled.</p>
            </div>
            <div>
                <h3>v4.7.0</h3>
                <h4>Feb. 7 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Added rental equipment system.</p>
                <p>Added admin features for rental equipment.</p>
                <p>Added age group filter on master schedule.</p>
                <p>Added supporter section to home page.</p>
                <p>Bug fixes.</p>
            </div>
            <div>
                <h3>v4.6.0</h3>
                <h4>Feb. 7 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Added priority adding.</p>
                <p>Bug fixes.</p>
            </div>
            <div>
                <h3>v4.5.0</h3>
                <h4>Jan. 31 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Updated homescreen.</p>
                <p>Added warning message for coaches and parents without linked team upon login.</p>
                <p>Added support for bulk emailing.</p>
                <p>Emails are now sent asynchronously.</p>
                <p>Updated Git backups and branch systems.</p>
                <p>Bug fixes.</p>
            </div>
            <div>
                <h3>v4.4.0</h3>
                <h4>Jan. 15 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Added html uploads for announcments.</p>
                <p>Logging in now records attempted time and date.</p>
                <p>Tweaked password reset email.</p>
            </div>
            <div>
                <h3>v4.3.0</h3>
                <h4>Jan. 3 2024</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Fixed invite links for adding teams to account.</p>
                <p>Tweaked login routing.</p>
            </div>
            <div>
                <h3>v4.2.2</h3>
                <h4>Dec. 30 2023</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Added email/password authentication</p>
                <p>Added password hashing</p>
                <p>Added reset password functionality</p>
                <p>Fixed AA support</p>
                <p>Bug fixes</p>
            </div>
            <div>
                <h3>v4.2.0</h3>
                <h4>Dec. 14 2023</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>Added emailing system</p>
                <p>Added Admin tools</p>
                <p>Tweaked login function</p>
                <p>Added support for AA and below</p>
                <p>Bug fixes</p>
                <p>More bug fixes</p>
            </div>
            <div>
                <h3>v4.1.0</h3>
                <h4>Dec. 9 2023</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="split">
            <div>
                <p>What isn't new?!</p>
                <p>And bug fixes...</p>
            </div>
            <div>
                <h3>v4.0.0</h3>
                <h4>Nov. 16 2023</h4>
            </div>
        </div>
    </section>
    
        <h1>Questions? Check the <a href="{{url_for('docs.home')}}">docs</a>.</h1>
    </center>
</main>

{% endblock content %}