<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main/home.css')}}">
</head>
{% extends "design.html" %}

{% block title %}Sign In{% endblock title %}

{% block content %}
<main>
    <form method="post" id="login">
        <section>
            <center>
                <h1>Sign In</h1>
                <label for="league">League</label>
                <select name="league" id="league" required>
                    <option value="" selected disabled>Select</option>
                    <option value="Sarasota">Sarasota</option>
                </select>
                <label class="sign-in" for="email">Email</label>
                <input type="email" name="email" id="email" required>
                <label class="sign-in" for="userId">Password</label>
                <input type="password" name="pword" id="pword" required>
                <button class="button-sign-in" type="submit">Sign In</button>
                <h3 class='error'>{{res.msg}}</h3>
                <a href="{{url_for('main.signup')}}">Create Account</a>
            </center>
        </section>
        <section class="split">
            <div>
                <h2>Forgot Password?</h2>
                <ul>
                    <li><a href="{{url_for('main.send_reset')}}">Reset Password</a></li>
                    OR
                    <li>Contact administrator to locate User ID</li>
                    OR
                    <li>Contact administrator to delete your account</li>
                </ul>
                <h3><a target="_blank" href="{{url_for('docs.lost_id')}}">Documentation</a></h3>
            </div>
            <div>
                <i class="fa-solid fa-question large"></i>
            </div>
            
        </section>
    </form>
</main>

{% endblock content %}