<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main/home.css')}}">
</head>
{% extends "design.html" %}

{% block title %}Create Profile{% endblock title %}

{% block content %}
<main>
    <center>
        <h1>Profile</h1>
        <h3>Need Help? Check the <a href="{{url_for('docs.profile')}}">Docs</a>. Or <a href="{{url_for('main.home')}}">Return Home</a>.</h3>
        <h4></h4>
        <h3 class='error'>{{res.msg}}</h3>
        {% if res.user.auth.calendar %}
        <section>
            <h3>Chalkline iCalendar Feed</h3>
            <p>Copy the link below into the app of your choice to automatically sync events into your calendar.</p>
            <input id="cal-link" type="text" value="https://chalklinebaseball.com/invite/calendar/{{res.user.userId}}/{{res.user.auth.calendar}}">
            <button class="action" onclick="copyLink()">Copy Link</button>
            <script>
                function copyLink() {
                    // Get the text field
                    var copyText = document.getElementById("cal-link");
                  
                    // Select the text field
                    copyText.select();
                    copyText.setSelectionRange(0, 99999); // For mobile devices
                  
                     // Copy the text inside the text field
                    navigator.clipboard.writeText(copyText.value);
                  
                    // Alert the copied text
                    alert("Link copied! Paste into calendar app to sync events.");
                  }
            </script>
            <br><br>
            <details>
                <summary>iPhone Instructions</summary>
                <p>Go to <b>Calendar</b> app &rarr; <b>Calendars</b> (bottom) &rarr; <b>Add Calendar</b> &rarr; <b>Add Subscription Calendar</b></p>
                <p>Paste the link provided above and configure settings.</p>
                <p>Your events should load in quickly!</p>
            </details>
            <details>
                <summary>Google Calendar Instructions</summary>
                <p>Go to <a tagret="_blank" href="https://calendar.google.com/">Google Calendar</a> &rarr; <b>Other Calendars</b> (left) &rarr; <b>Add Calendar</b> &rarr; <b>From URL</b></p>
                <p>Paste the link provided above and configure settings.</p>
                <p>Your events should load in within 24 hours!</p>
            </details>
        </section>
        {% else %}
        <section>
            <form method="post">
                <h3>Get iCalendar Link</h3>
                <p>Sync all of your events in Chalkline into the calendar app of your choice!</p>
                <button class="action" type="submit" name="getCalendar" value="getCalendar">Get Link</button>
            </form>
        </section>
        {% endif %}

        {% if 'coach' in res.user.groups or 'parent' in res.user.groups %}
        <section>
            <form method="post" id="teams">
                <h3>My Teams</h3>
                <table id="teamCodes" class="center">
                    
                    {% if res.user.teams|length > 0 %}
                        <tr>
                            <th>Team Code</th>
                            <th>Team Name</th>
                            <th>Remove</th>
                        </tr>
                        {% for team in res.user.team_info %}
                        <tr>
                            <td>{{team['teamId']}}</td>
                            <td>{{team['name']}}</td>
                            <td><button name="removeTeam" value="{{team['teamId']}}" class="action">Remove</button></td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <h3 class="error">No teams associated with this account.</h3>
                    {% endif %}
                    
                </table>
            </form>

            <h3>Add Team</h3>

            <form method="post">
                <table class="center">
                    <tr>
                        <td><label for="newTeam">Add Team Code</label></td>
                        <td><select name="newTeam" id="newTeam" required>
                            <option value="none" selected>Select</option>
                            {% for team in all_teams %}
                                <option value="{{team.teamId}}">{{team.teamId}} ({{team.name}})</option>
                            {% endfor %}
                        </select></td>
                    </tr>
                </table>
                <button class="action" type="submit" name="addTeam" value="addTeam">Add Team</button>
            </form>
        </section>
        {% endif %}
        
        <section>
            <form method="post" id="profile">
                <h3>Personal Information</h3>
                <table class="center">
                    <tr>
                        <td><label for="firstName">First Name</label></td>
                        <td><input type="text" name="firstName" id="firstName" value={{res.user.firstName}} required></td>
                    </tr>
                    <tr>
                        <td><label for="lastName">Last Name</label></td>
                        <td><input type="text" name="lastName" id="lastName" value={{res.user.lastName}} required></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email</label></td>
                        <td><input type="email" name="email" id="email" value={{res.user.email}} disabled></td>
                    </tr>
                    <tr>
                        <td><label for="phone">Phone</label></td>
                        <td><input type="tel" name="phone" id="phone" value={{res.user.phone}} required></td>
                    </tr>
                    <tr>
                        <td><label for="email_nots">Receive email alerts</label></td>
                        <td><input type="checkbox" name="email_nots" id="email_nots" checked></td>
                        <script>document.getElementById('email_nots').checked = "{{res.user.preferences.email_nots}}" == 'True';</script>
                    </tr>
                    <tr>
                        <td><label for="hide_email">Hide my email from other users</label></td>
                        <td><input type="checkbox" name="hide_email" id="hide_email"></td>
                        <script>document.getElementById('hide_email').checked = "{{res.user.preferences.hide_email}}" == 'True';</script>
                    </tr>
                    <tr>
                        <td><label for="hide_phone">Hide my phone number from other users</label></td>
                        <td><input type="checkbox" name="hide_phone" id="hide_phone"></td>
                        <script>document.getElementById('hide_phone').checked = "{{res.user.preferences.hide_phone}}" == 'True';</script>
                    </tr>
                </table>
                

                <button class="action" type="submit" name="updateProfile" value="updateProfile">Save</button>
            </form>
        </section>
        <section>
            <form method="post" id="leagues">
                <h3>My Leagues</h3>
                <table id="leagues" class="center">
                        <tr>
                            <th>League</th>
                            <th>Remove</th>
                        </tr>
                        {% for loc in res.user.leagues %}
                        <tr>
                            <td>{{loc}}</td>
                            <td><button id="removeLoc" name="removeLoc" value="{{loc}}" 
                                {% if res.user.leagues|length == 1 %}
                                class="action disabled"
                                disabled
                                {% else %}
                                class="action"
                                {% endif %}
                                >Remove</button></td>
                        </tr>
                        {% endfor %}
                </table>
                {% if res.user.leagues|length < 1 %}
                <p class="error">No leagues found for this account.</p>
                {% endif %}
            </form>

        </section>
        <section>
            <h3>Session</h3>
            <form method="post" id="logout">
                {% if 'admin' in res.user.groups %}
                    <table class="center">
                        <tr>
                            <td><label for="admin-features">Admin Features: </label></td>
                            <td><select name="admin-features" id="admin-features" onchange="this.form.submit()">
                                <option value="True">On</option>
                                <option value="False">Off</option>
                            </select></td>
                        </tr>
                    </table>
                    <script>
                        document.getElementById('admin-features').value = "{{res.admin}}";
                    </script>
                {% endif %}

                <label for="location">Location: </label>
                <select name="location" id="location" onchange="this.form.submit()">
                    {% for loc in res.user.leagues %}
                    <option value="{{loc}}">{{loc}}</option>
                    {% endfor %}
                </select>
                <script>
                    document.getElementById('location').value = "{{res.league}}";
                </script>

            </form>
            <form method="post"><button class="action" type="submit" name="logout" value="logout"><b>Sign Out</b></button></form>
        </section>
    </center>
</main>

{% endblock content %}