<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main/home.css')}}">
</head>
{% extends "design.html" %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<main>
    <center>
        <h1>Password Reset - {{email}}</h1>
        <section id="login">
            <form method="post" autocomplete="off">
                <label class="sign-in" for="email">Email</label>
                <input type="email" name="email" id="email" required value="{{email}}" disabled>
                <label class="sign-in" for="pword">New Password</label>
                <input type="password" name="pword" id="pword" required autofocus>
                <br>
                <button class="button-sign-in" type="submit">Submit</button>
            </form>
            <p><b>Enter a new password.</b></p>
            <h3 class="error">{{msg}}</h3>
        </section>
    </center>
</main>

{% endblock content %}