<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main/home.css')}}">
    <script src="{{url_for('static', filename='share.js')}}"></script>
</head>

{% extends "design.html" %}
{% block title %}Team info{% endblock title %}

{% block content %}
<main>
    <center>
        <h1>My Teams</h1>
        <p><a href="{{url_for('main.profile')}}">Edit teams</a></p>
        <section>
            <form method="post">
                <h3>Team: <select class="filter" name="teamId" id="teamId" onchange="this.form.submit()">
                    {% for team in res.user.teams %}
                    <option value="{{team}}">{{team}}</option>
                    {% endfor %}
                </select></h3>
                <script>document.getElementById('teamId').value = "{{team.teamId}}"</script>
            </form>
        </section>
        <section>
            <h2>{{team.name}}</h2>
            <h3 class="subtle"><i class="fa-solid fa-id-card"></i> {{team.teamId}}</h3>
        </section>
        <section>
            <h2>Standings: {{res.league.current_season}}</h2>
            <h3>Current Seed: Not Placed</h3>
            <table class="center">
                <tr>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Ties</th>
                </tr>
                <tr>
                    <td>{{team.seasons.get(res.league.current_season).record[0]}}</td>
                    <td>{{team.seasons.get(res.league.current_season).record[1]}}</td>
                    <td>{{team.seasons.get(res.league.current_season).record[2]}}</td>
                </tr>
            </table>
        </section>
        <section>
            <h2>Contacts</h2>
            <p>Other users with this team</p>
            {% if res.user.preferences.hide_email %}
            <p class='urgent'>Your email is hidden to other users</p>
            {% endif %}
            {% if res.user.preferences.hide_phone %}
            <p class='urgent'>Your phone number is hidden to other users</p>
            {% endif %}
            <a href="{{url_for('main.profile')}}">Change contact sharing preferences</a></p>
            <table class="center">
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
                {% for user in team.contacts %}
                <tr>
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    {% if user.userId in team.seasons.get(res.league.current_season).coaches %}
                    <td>Coach</td>
                    {% else %}
                    <td>Parent</td>
                    {% endif %}
                    <td>{{user.phone}}</td>
                    <td>{{user.email}}</td>
                </tr>
                {% endfor %}

            </table>
        </section>
    </center>
</main>


{% endblock content %}