<head>
    <link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
    <script src="{{url_for('static', filename='schedule.js')}}"></script>
</head>

{% extends "design.html" %}
{% block title %}Team Schedule{% endblock title %}

{% block content %}
<main>
    <section class="split">
        <div>
            <h1>Team Schedule - {{eventFilter.teamId}}</h1>

            {% if user.teams|length == 1 %}
            <h3>Your team: {{user.teams[0]}}</h3>
            {% elif user.teams|length > 1 %}
            <h3>Your teams: {% for team in user.teams %}{{team}}, {% endfor %}</h3>
            {% else %}
            <h3>Your teams: None</h3>
            {% endif %}
            
        </div>
        <div class="align-right">
        </div>
    </section>
    {% if user.teams|length > 0 %}
    <button type="" onclick="toggleFilterSection('filter-section')" class="filter-dropdown action"><i class="fa-solid fa-filter"></i> Filters</button>
    <form method="post">
        <section id="filter-section" class="filter-section">
            <select name="updateFilter" id="updateFilter" style="display: none;">
                <option value="updateFilter" selected>UpdateFilter</option>
            </select>
            <select class="filter" name="hidePast" id="hidePast" onchange="this.form.submit()">
                <option value="true" selected>Future only</option>
                <option value="false">Past and Future</option>
            </select>
            <select class="filter" name="teamId" id="teamId" onchange="this.form.submit()">
                {% for team in user.teams %}
                <option value="{{team}}">{{team}}</option>
                {% endfor %}
            </select>
            <select class="filter" name="eventTypeFilter" id="eventTypeFilter" onchange="this.form.submit()">
                <option value="null" selected>All events</option>
                <option value="Game">Games only</option>
                <option value="Practice">Practices only</option>
                <option value="Umpire Duty">Umpire Duties only</option>
            </select>
        
            <script>
                let filter = {{ eventFilter | tojson }};
                console.log(filter)
                document.getElementById('hidePast').value = filter.hidePast;
                document.getElementById('eventTypeFilter').value = filter.eventTypeFilter;
                document.getElementById('teamId').value = filter.teamId;

                function toggleFilterSection(section) {
                    let sect = document.getElementById(section);
                    if (sect.style.display == 'none') {
                        sect.style.display = 'block';
                    }
                    else {
                        sect.style.display = 'none';
                    }
                }
            </script>
        </section>
        <h3 class="error">{{msg}}</h3>
        <section class="schedule-section scrollwrapper">
            {% if eventList|length < 1 %}
            <h3 class="error">No events found. Try the <a href="{{url_for('league.master_schedule')}}">Master Schedule</a></h3>
            {% endif %}
            <table id="schedule-table" class="event-display">
                <tr>
                    <th></th>
                    <th>Event</th>
                    <th>Date/Time</th>
                    <th>Venue</th>
                    <th>Field</th>
                    <th>Status</th>
                    <th>Away</th>
                    <th>Home</th>
                    <th>Umpire Duty</th>
                    
                </tr>
                {% for event in eventList %}
                <tr class="event-row">
                    <td><a class="icon-link" href="{{url_for('view_info.event', eventId=event._id)}}"><i class="fa-solid fa-info"></i></a></td>
                    <td class="event-type">{{event.eventType}}</td>
                    <td>{{event.eventDate.strftime('%a %m/%d @ %H:%M')}}</td>
                    <td>{{event.eventVenue}}</td>
                    <td>{{event.eventField}}</td>
                    <td>{{event.status}}</td>
                    <td>{{event.awayTeam}}</td>
                    <td>{{event.homeTeam}}</td>
                    {% if event.umpireDuty == eventFilter.teamId and 'coach' in user.role and event.editRules.fieldRequestAddable %}
                        {% if event.fieldRequestInfo.fLast is none %}
                            <td><button class="schedule-action" type="submit" name="requestField1Umpire" value="{{event._id}}" onclick="return confirm('Request Youth Umpire for {{event.umpireDuty}} on {{event.eventDate.strftime('%a %m/%d @ %H:%M')}}?')">Request Youth</button></td>
                        {% elif event.field1UmpireInfo.fLast is none %}
                            <td><button class="schedule-action" type="submit" name="removeRequest" value="{{event._id}}" onclick="return confirm('Remove Request for {{event.umpireDuty}} on {{event.eventDate.strftime('%a %m/%d @ %H:%M')}}?')">Remove Request</button></td>
                        {% else %}
                            <td>Fulfilled (<a href="{{url_for('view_info.user', user_id=event.field1UmpireInfo._id)}}">{{event.field1UmpireInfo.fLast}}</a>)</td>
                        {% endif %}
                    {% else %}
                        <td>{{event.umpireDuty}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                
            </table>
            
        </section>
    </form>
    {% else %}
    <h3 class='error'>Your account is linked to 0 teams in {{user.location}}. Add teams to your <a href="{{url_for('main.profile')}}">Profile</a> to view their unique schedules.</h3>
    {% endif %}
</main>

<script>
    let tbl = document.getElementById('schedule-table');
    colorifySchedule(tbl);
</script>
{% endblock content %}