<head>
    <link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
    <script src="{{url_for('static', filename='schedule.js')}}"></script>
</head>

{% extends "design.html" %}
{% block title %}Master Schedule{% endblock title %}

{% block content %}
<main>
    <section class="split">
        <div>
            <h1>Master Schedule (2024)</h1>
        </div>
        <div class="align-right">
        </div>
    </section>
    <button type="" onclick="toggleFilterSection('filter-section')" class="filter-dropdown action"><i class="fa-solid fa-filter"></i> Filters</button>
    <form method="post">
        <section id="filter-section" class="filter-section" style='display: none;'>
            <select name="updateFilter" id="updateFilter" style="display: none;">
                <option value="updateFilter" selected>UpdateFilter</option>
            </select>
            <select class="filter" name="hidePast" id="hidePast" onchange="this.form.submit()">
                <option value="true" selected>Future only</option>
                <option value="false">Past and Future</option>
            </select>
            <select class="filter" name="ageGroup" id="ageGroup" onchange="this.form.submit()">
                <option value="null" selected>All Age Groups</option>
                <option value="AA">AA only</option>
                <option value="AAA">AAA only</option>
                <option value="Majors">Majors only</option>
                <option value="50/70">50/70 only</option>
                <option value="Juniors">Juniors only</option>
            </select>
            <select class="filter" name="teamId" id="teamId" onchange="this.form.submit()">
                <option value="null" selected>All Teams</option>
                {% for team in allTeams %}
                <option value="{{team['teamId']}}">{{team['teamId']}}</option>
                {% endfor %}
            </select>
            <select class="filter" name="eventTypeFilter" id="eventTypeFilter" onchange="this.form.submit()">
                <option value="null" selected>All events</option>
                <option value="Game">Games only</option>
                <option value="Practice">Practices only</option>
            </select>
        
            <script>
                let filter = {{ eventFilter | tojson }};
                document.getElementById('hidePast').value = filter.hidePast;
                document.getElementById('teamId').value = filter.teamId;
                document.getElementById('eventTypeFilter').value = filter.eventTypeFilter;
                document.getElementById('ageGroup').value = filter.ageGroup;

                function toggleFilterSection(section) {
                    let sect = document.getElementById(section);
                    if (sect.style.display == 'block') {
                        sect.style.display = 'none';
                    }
                    else {
                        sect.style.display = 'block';
                    }
                }
            </script>
        </section>

        <section class="schedule-section scrollwrapper">
            {% if eventList|length < 1 %}
            <h3 class="error">No events found.</h3>
            {% endif %}
            <table id="schedule-table" class="event-display">
                <tr>
                    <th></th>
                    <th>Event</th>
                    <th>Date/Time</th>
                    <th>Venue</th>
                    <th>Field</th>
                    <th>Status</th>
                    <th>Away</th>
                    <th>Home</th>
                    <th>Umpire Duty</th>
                    
                </tr>
                {% for event in eventList %}
                <tr class="event-row">
                    <td><a class="icon-link" href="{{url_for('view_info.event', eventId=event._id)}}"><i class="fa-solid fa-info"></i></a></td>
                    <td class="event-type">{{event.eventType}}</td>
                    <td>{{event.eventDate.strftime('%a %m/%d @ %H:%M')}}</td>
                    <td>{{event.eventVenue}}</td>
                    <td>{{event.eventField}}</td>
                    <td>{{event.status}}</td>
                    <td>{{event.awayTeam}}</td>
                    <td>{{event.homeTeam}}</td>
                    <td>{{event.umpireDuty}}</td>
                </tr>
                {% endfor %}
                
            </table>
            
        </section>
    </form>
</main>

<script>
    let tbl = document.getElementById('schedule-table');
    colorifySchedule(tbl);
</script>
{% endblock content %}