<head>
    <link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
    <script src="{{url_for('static', filename='schedule.js')}}" defer></script>
</head>

{% extends "design.html" %}
{% block title %}Master Schedule{% endblock title %}

{% block content %}
<main>
    <section class="split">
        <div>
            <h1 class="fancy">Master Schedule ({{res.league.current_season}})</h1>
        </div>
        <div class="align-right">
        </div>
    </section>

    <form method="post" name="form">
        <section class="schedule-section scrollwrapper">
            {% include "filters.html" %}

            {% if events|length < 1 %}
            <h3 class="error">No events found.</h3>
            {% endif %}
            <table id="schedule-table" class="event-display">
                <tr>
                    <th></th>
                    <th>Event</th>
                    <th>Date</th>
                    <th>Venue</th>
                    <th>Field</th>
                    <th>Status</th>
                    <th>Away</th>
                    <th>Home</th>
                    {% if not res.show_umps %}
                    <th>Umpires <a onclick="expand(true)"><i title="Show Umpires" class="fa-solid fa-up-right-and-down-left-from-center"></i></a></th>
                    {% else %}
                    <th>Umpires <a onclick="expand(false)"><i title="Hide Umpires" class="fa-solid fa-minimize"></i></a></th>
                    {% endif %}
                    
                </tr>
                {% for e in events %}
                <tr class="event-row">
                    <td><a class="icon-link" href="{{url_for('view_info.event', eventId=e._id)}}"><i class="fa-solid fa-info"></i></a></td>
                    <td class="event-type">{{e.type}}</td>
                    <td>{{e.date.strftime('%a %m/%d @ %H:%M')}}</td>
                    <td>{{e.venueId}}</td>
                    <td>{{e.field}}</td>
                    <td>{{e.status}}</td>
                    <td>{{e.away}}</td>
                    <td>{{e.home}}</td>
                    {% if not res.show_umps %}
                        <td><button type="button" onclick="openPopup('{{e._id}}')" class="schedule-action"><i class="fa-solid fa-magnifying-glass"></i> view
                        ({{e.full_umps}}/{{e.total_umps}})</button></td>
                    {% else %}
                        {% for pos, u in e.umpires.items() %}
                        <td>
                            {% if u.user %}
                                <a>{{u.user.firstLast}}</a>
                            {% elif u.team_duty and not u.coach_req %}
                                Team Duty ({{u.team_duty}})
                            {% else %}
                                Open
                            {% endif %}
                        </td>
                        {% endfor %}
                    {% endif %}
                </tr>

                <dialog class="popup" id="popup_{{e._id}}">
                    <a onclick="closePopup('{{e._id}}')" class="error"><i class="fa-solid fa-xmark"></i> Close</a>
                    <h3>{{e.age}}: {{e.venueId}}, {{e.leagueId}}</h3>
                    <h4>Field {{e.field}} @ {{e.date.strftime('%a %m/%d %H:%M')}}</h4>
                    {% for pos, u in e.umpires.items() %}
                    <label for="{{pos}}">{{pos}}: </label>
                        {% if u.user %}
                            <a>{{u.user.firstLast}}</a>
                        {% elif u.team_duty and not u.coach_req %}
                            Team Duty ({{u.team_duty}})
                        {% else %}
                            Open
                        {% endif %}
                        <br><br>
                    {% endfor %}
                </dialog>
                {% endfor %}
                
            </table>
        </section>
        <button id="load-more" type="button" class="action" onclick="load()">View More</button>
    </form>
    <p class="subtle">{{events|length}} games loaded.</p>
</main>

{% endblock content %}