<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main/home.css')}}">
</head>
{% extends "design.html" %}
{% block title %}Field Status{% endblock title %}

{% block content %}
<main>
    <center>
        <h1>Field Status</h1>
        
        <h2>{{res.league.name}}</h2>
        {% for v in res.league.venue_info %}
            <section>
                <form method="post">

                <h2>{{v.name}}</h2>

                <h3>Field Status:
                {% if res.admin %}
                        <input type="text" name="status" value="{{v.status}}" required>
                        <button class="action" name="updateStatus" value="{{v.venueId}}" onclick="return confirm('Update status? This will send updates to users in your league.')" >Update</button>
                {% else %}
                    <b class="urgent">{{v.status}}</b>
                {% endif %}
                </h3>

                <h4>{{v.street}}</h4>
                <h4>{{v.city}}, {{v.state}} {{v.zipcode}}</h4>
                <br>
                {% if v.director %}
                <h3>Director On Duty: {{v.director.firstLast}} ({{v.director.phone}})</h3>
                {% endif %}
                </form>
            </section>
        {% endfor %}
    </center>
</main>

{% endblock content %}