<head>
    <link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
    <script src="{{url_for('static', filename='schedule.js')}}" defer></script>
</head>

{% extends "design.html" %}
{% block title %}Director Schedule{% endblock title %}

{% block content %}
<main>
    <section class="split">
        <div>
            <h1>Director Schedule</h1>
            <h3>View schedule and add shifts.</h3>
        </div>
        <div class="align-right">
            <h3>Go to <a href="{{url_for('director.shifts')}}">My Shifts</a></h3>
            <p>To view shifts you are working.</p>
        </div>
    </section>

    <form method="post">
    
    {% include "filters.html" %}

        <p class="error">{{res.msg}}</p>
        <section class="schedule-section scrollwrapper">
            {% if shifts|length < 1 %}
            <h3 class="error">No shifts found.</h3>
            {% endif %}
            <table id="schedule-table" class="event-display">
                <tr>
                    <th>Venue</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Director</th>
                    {% if res.admin %}
                        <th>Admin</th>
                    {% endif %}
                </tr>
                {% for s in shifts %}
                <tr>
                    <td>{{s.venue_info.name}}</td>
                    <td>{{s.start_date.strftime('%a %m/%d %H:%M')}}</td>
                    <td>{{s.end_date.strftime('%H:%M')}}</td>
                    {% if s.director is none %}
                    <td><button class="schedule-action" type="submit" name="add" value="{{s._id}}">+ add</button></td>
                    {% else %}
                    <td><a target='_blank' href="{{url_for('view_info.user', userId=s.director.userId)}}">{{s.director.firstLast}}</a></td>
                    {% endif %}

                    {% if res.admin %}
                    <td><button onclick="return confirm('Delete shift?')" class="schedule-action danger" type="submit" name="delete" value="{{s._id}}">Delete</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
                
                
            </table>
            
        </section>
    </form>
</main>

{% endblock content %}