<head>
    <link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
    <script src="{{url_for('static', filename='schedule.js')}}" defer></script>
</head>

{% extends "design.html" %}
{% block title %}My Shifts{% endblock title %}

{% block content %}
<main>
    <section class="split">
        <div>
            <h1>My Shifts</h1>
            <h3>View schedule and add shifts.</h3>
        </div>
        <div class="align-right">
            <h3>Go to <a href="{{url_for('director.schedule')}}">All Shifts</a></h3>
            <p>To view all available shifts and sign-up.</p>
        </div>
    </section>

    <form method="post">
    
    {% include "filters.html" %}

        <p class="error">{{res.msg}}</p>
        <section class="schedule-section scrollwrapper">
            {% if shifts|length < 1 %}
            <h3 class="error">No shifts found.</h3>
            {% endif %}
            <table id="schedule-table" class="event-display">
                <tr>
                    <th>Venue</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Remove</th>
                </tr>
                {% for s in shifts %}
                <tr>
                    <td>{{s.venue_info.name}}</td>
                    <td>{{s.start_date.strftime('%a %m/%d %H:%M')}}</td>
                    <td>{{s.end_date.strftime('%H:%M')}}</td>
                    <td><button onclick="return confirm('Remove shift?')" class="schedule-action danger" type="submit" name="remove" value="{{s._id}}">Remove</button></td>
                </tr>
                {% endfor %}
                
                
            </table>
            
        </section>
    </form>
</main>

{% endblock content %}