<head>
    <link rel="stylesheet" href="{{url_for('static', filename='view_game/view.css')}}">
</head>

{% extends "design.html" %}

{% block title %}View Event{% endblock title %}

{% block content %}
<main>
    <center>
        <h1>View Event</h1>
        <h4 class='error'>{{res.msg}}</h4>
    </center>

    {% if res.admin and not edit_view %}
    <form method="post">
        <button name="edit" value="edit" class="action"><i class="fa-solid fa-pen"></i> Edit</button>
        <button name="delete" value="delete" class="action danger" onclick="return confirm('Delete game?')"><i class="fa-solid fa-trash"></i> Delete</button>
    </form>
    {% endif %}
    <section>
        <center>
            <h3><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfudF_82plwfscv_cZvJ0ou64Sk3cTsmskPL7wM1xKUM6e0tQ/viewform?usp=pp_url&entry.1330757817={{event._id}}">Create Report</a></h3>
            <p>Reports can be made on umpires, sportsmanship, or injuries.</p>
        </center>
    </section>

    {% if not edit_view %}
        <section>
            <center>
                <h2>{{event.leagueId}} - {{event.type}}</h2>
                <h3>{{event.date.strftime('%a %m/%d @ %H:%M')}} ({{event.duration}} hrs)</h3>
                <h3>{{event.venueId}} Field {{event.field}}</h3>
                {% if event.type == 'Game' %}
                <h3>(away) {{event.away}} vs. {{event.home}} (home)</h3>
                {% else %}
                <h3>Team: {{event.home}}</h3>
                {% endif %}
            </center>
        </section>
        <section>
            <center>
                <h3>Status: {{event.status}}</h3>
            </center>
        </section>

        {% if event.type == 'Game' %}
            <center><h3>Umpires</h3></center>
                {% for pos, ump in event.umpires.items() %}
                <section>
                    {% if ump.user %}
                    <center>
                        <h3>{{pos}}: {{ump.user.fullName}}</h3>
                        <p>Email: {{ump.user.email}}</p>
                        <p>Phone: {{ump.user.phone}}</p>
                        {% if ump.user.userId == res.user.userId %}
                        <form method="post">
                            <label for="sub">Substitute with: </label>
                            {% if res.user.auth.get('sub_' + event._id) %}
                            <select name="sub" id="sub" required>
                                <option value="" selected disabled>Pending</option>
                            </select>
                            <button class="action disabled" disabled>Sent!</button>
                            {% else %}
                            <select name="sub_user" id="sub" required>
                                <option value="" selected disabled>Select Umpire</option>
                                {% for u in all_users if 'umpire' in u.groups.get(res.league.leagueId) %}
                                    <option value="{{u.userId}}">{{u.fullName}}</option>
                                {% endfor %}
                            </select>
                            <button name="substitute" value="{{pos}}" class="action">Substitute</button>
                            {% endif %}
                        </form>
                        {% endif %}
                    </center>
                    {% elif ump.team_duty %}
                    <center>
                        <h3>{{pos}}: Team Duty ({{ump.team_duty}})</h3>
                    </center>
                    {% else %}
                    <center>
                        <h3>{{pos}}: Open</h3>
                    </center>
                    {% endif %}

                    {% if ump.coach_req %}
                    <center>
                        <h3>Coach Request: {{ump.coach_req.fullName}}</h3>
                        <p>Email: {{ump.coach_req.email}}</p>
                        <p>Phone: {{ump.coach_req.phone}}</p>
                    </center>
                    {% endif %}

                </section>
                {% endfor %}
        {% endif %}

    {% else %}
        <form method="post">
            <button type="submit" class="action" name="save" value="save"><i class="fa-solid fa-floppy-disk"></i> Save</button>
            <button onclick="return confirm('Revert changes?')" type="submit" class="action danger" name="cancel" value="cancel"><i class="fa-solid fa-xmark"></i> Cancel</button>
            <section>
                <center>
                    <h2>{{event.leagueId}} - {{event.type}}</h2>
                    <h3><input type="datetime-local" name="date" id="date" value="{{event.date.isoformat()[0:16]}}"> for <input type="text" pattern="([0-9]*[.])?[0-9]+" name="duration" id="duration" value="{{event.duration}}"> hrs</h3>
                    <h3><select name="venueId" id="venueId">
                        {% for v in event.league_info.venues %}
                        <option value="{{v}}">{{v}}</option>
                        {% endfor %}
                        <script>document.getElementById('venueId').value = "{{event.venueId}}"</script>
                    </select> Field <input type="number" name="field" id="field" value="{{event.field}}"></h3>

                    <h3><select name="age" id="age">
                        {% for a in event.league_info.age_groups %}
                        <option value="{{a}}">{{a}}</option>
                        {% endfor %}
                        <script>document.getElementById('age').value = "{{event.age}}"</script>
                    </select></h3>

                    {% if event.type == 'Game' %}
                    <h3>(away) <select name="away" id="away">
                        <option value="None">None</option>
                        {% for t in event.league_info.teams %}
                        <option value="{{t.teamId}}">{{t.teamId}}</option>
                        {% endfor %}
                        <script>document.getElementById('away').value = "{{event.away}}"</script>
                    </select> 
                    vs. 
                    <select name="home" id="home">
                        <option value="None">None</option>
                        {% for t in event.league_info.teams %}
                        <option value="{{t.teamId}}">{{t.teamId}}</option>
                        {% endfor %}
                        <script>document.getElementById('home').value = "{{event.home}}"</script>
                    </select> (home)</h3>

                    {% else %}
                    <h3>Team: <select name="home" id="home">
                        {% for t in event.league_info.teams %}
                        <option value="{{t.teamId}}">{{t.teamId}}</option>
                        {% endfor %}
                        <script>document.getElementById('home').value = "{{event.home}}"</script>
                    </select></h3>
                    {% endif %}
                </center>
            </section>
            <section>
                <center>
                    <h3>Status: <input type="text" name="status" id="status" value="{{event.status}}"></h3>
                    <h3>Visible: <input type="checkbox" name="visible" id="visible"></h3>
                    <h3>Locked: <input type="checkbox" name="locked" id="locked"></h3>
                    <script>
                        document.getElementById('visible').checked = "{{event.visible}}" == "True"
                        document.getElementById('locked').checked = "{{event.locked}}" == "True"
                    </script>
                </center>
            </section>
    
            {% if event.type == 'Game' %}
                <center><h3>Umpires</h3></center>
                    {% for pos, ump in event.umpires.items() %}
                    <section>
                        <center>
                            <h3>{{pos}}: <select name="{{pos}}_user" id="{{pos}}_user">
                                <option value="">Open</option>
                                {% for u in all_users if 'umpire' in u.groups.get(res.league.leagueId) %}
                                    <option value="{{u.userId}}">{{u.fullName}}</option>
                                {% endfor %}
                                <script>document.getElementById('{{pos}}_user').value = "{{ump.user.userId}}"</script>
                            </select></h3>

                            <h4> Team Duty:
                                <select name="{{pos}}_team" id="{{pos}}_team">
                                    <option value="None">None</option>
                                    {% for t in event.league_info.teams %}
                                        <option value="{{t.teamId}}">{{t.teamId}}</option>
                                    {% endfor %}
                                    <script>document.getElementById('{{pos}}_team').value = "{{event.umpires.get(pos).team_duty}}"</script>
                                </select>
                            </h4>

                            <h4> Coach Req:
                                <select name="{{pos}}_coach" id="{{pos}}_coach">
                                    <option value="None">None</option>
                                    {% for u in all_users if 'coach' in u.groups.get(res.league.leagueId) %}
                                        <option value="{{u.userId}}">{{u.fullName}}</option>
                                    {% endfor %}
                                    <script>document.getElementById('{{pos}}_coach').value = "{{event.umpires.get(pos).coach_req.userId if event.umpires.get(pos).coach_req else None}}"</script>
                                </select>
                            </h4>

                            <button onclick="return confirm('Delete {{pos}} position? This will remove any umpire already signed up!')" type="submit" name="delete_umpire" value="{{pos}}" class="action danger">Delete {{pos}} position</button>
                        </center>
                    </section>
                    {% endfor %}
            <button type="submit" class="action" name="save" value="save"><i class="fa-solid fa-floppy-disk"></i> Save</button>
            <button onclick="return confirm('Revert changes?')" type="submit" class="action danger" name="cancel" value="cancel"><i class="fa-solid fa-xmark"></i> Cancel</button>
        </form>

        <form method="post">
            <section>
                <center>
                    Position: <select name="pos" id="pos" required>
                        <option value="" disabled selected>Select</option>
                        <option value="Plate">Plate</option>
                        <option value="1B">1B</option>
                        <option value="2B">2B</option>
                        <option value="3B">3B</option>
                        <option value="LF">LF</option>
                        <option value="RF">RF</option>
                        <option value="Misc">Misc</option>
                    </select>
                    <button name="add_umpire" value="add" class="action">Add Umpire</button>
                </center>
            </section>
        </form>
        
        {% endif %}
    {% endif %}
</main>

{% endblock content %}