<head>
    <link rel="stylesheet" href="{{url_for('static', filename='view_game/view.css')}}">
</head>

{% extends "design.html" %}

{% block title %}View Event{% endblock title %}

{% block content %}
<main>
    <center>
        <h1>View Event</h1>
        <h4 class='error'>{{msg}}</h4>
    </center>

    {% if 'admin' not in user.role %}
        <section>
            <center>
                <h2>{{event.eventLocation}} - {{event.eventType}}</h2>
                <h3>{{event.eventDate.strftime('%a %m/%d @ %H:%M')}}</h3>
                <h3>{{event.eventVenue}} Field {{event.eventField}}</h3>
                {% if event.eventType == 'Game' %}
                <h3>(away) {{event.awayTeam}} vs. {{event.homeTeam}} (home)</h3>
                <h3>Umpire Duty: {{event.umpireDuty}}</h3>
                {% else %}
                <h3>Team: {{event.homeTeam}}</h3>
                {% endif %}
            </center>
        </section>
        <section>
            <center>
                <h3>Status: {{event.status}}</h3>
            </center>
        </section>
        {% if event.eventType == 'Game' %}
            <!-- substitutions -->
            {% if user._id == event.plateUmpireInfo._id or user._id == event.field1UmpireInfo._id %}
            <section id="substitute">
                <form method="post">
                <center>
                    <h2>Request Substitute</h2>
                    <p class="urgent">If a conflict arises, you may request another umpire to take your game.</p>
                </center>
                
                {% if smsg %}
                <center>
                    <h3 class="error">{{smsg}}</h3>
                </center>
                {% endif %}

                <table class="center">
                    <tr>
                        <td id="pos" style="font-weight: bold;"></td>
                    </tr>
                    <tr>
                        <td><label for="sub">Substitute Umpire: </label></td>
                        <td><select name="sub" id="sub" required>
                            <option value="" selected diabled>Select</option>
                        </select></td>
                    </tr>
                </table>
            <center>
                {% if 'sub-code' not in event %}
                <button class="action" type="submit" name="subGame" value="subGame" onclick="return confirm('Request selected umpire to cover this game?')">Request Substitute</button>
                {% else %}
                <button class="action disabled" disabled>Request Unavailable</button>
                {% endif %}
            </center>
            </form>

            <script>
                let userList = {{userList | tojson}}
                let sub = document.getElementById('sub');
                let isPlate = "{{user._id}}" == "{{event.plateUmpireInfo._id}}";
                let isField1 = "{{user._id}}" == "{{event.field1UmpireInfo._id}}";
                let pos = document.getElementById('pos');
                
                if (isPlate) {
                    pos.innerHTML = "Position: Plate Umpire";
                }
                else {
                    pos.innerHTML = "Position: Field Umpire";
                }

                for (umpire of userList) {
                    if (umpire.role.includes('umpire') || umpire.role.includes('youth')) {
                        opt = document.createElement('option');
                        opt.value = umpire._id;
                        opt.innerHTML = umpire.lastName + ', ' + umpire.firstName;
                        sub.appendChild(opt);
                    }

                }

            </script>
            </section>
            {% endif %}

        <section>
            <center>
                <h2>Plate Umpire: {{event.plateUmpireInfo.fLast}}</h2>
                <h3>Email: {{event.plateUmpireInfo.email}}</h3>
                <h3>Phone: {{event.plateUmpireInfo.phone}}</h3>
            </center>
        </section>
        <section>
            <center>
                <h2>Field Umpire: {{event.field1UmpireInfo.fLast}}</h2>
                <h3>Email: {{event.field1UmpireInfo.email}}</h3>
                <h3>Phone: {{event.field1UmpireInfo.phone}}</h3>
            </center>
        </section>
        <section>
            <center>
                <h2>Coach Request: {{event.fieldRequestInfo.fLast}}</h2>
                <h3>Email: {{event.fieldRequestInfo.email}}</h3>
                <h3>Phone: {{event.fieldRequestInfo.phone}}</h3>
            </center>
        </section>  
        {% endif %}
    {% else %}
        <form method="post" id="updateEvent">
        <div class="split">
            <h3 class="urgent">You are authorized to edit event data.</h3>
            <button class="action" name="updateEvent" value="updateEvent" type="submit">Save Changes</button>
        </div>
        <section>
            <center>
                <h2>
                    <input type="text" name="eventLocation" id="eventLocation" value="{{event.eventLocation}}" disabled> - 
                    <select name="eventType" id="eventType">
                        <option value="Game">Game</option>
                        <option value="Practice">Practice</option>
                    </select>
                </h2>
                <h3><input type="datetime-local" name="eventDate" id="eventDate" value="{{event.eventDate}}"></h3>
                <h3>Age Group: <select name="eventAgeGroup" id="eventAgeGroup">
                    <option value="T-Ball">T-Ball</option>
                    <option value="Coach Pitch">Coach Pitch</option>
                    <option value="AA">AA</option>
                    <option value="AAA">AAA</option>
                    <option value="Majors">Majors</option>
                    <option value="50/70">50/70</option>
                    <option value="Juniors">Juniors</option>
                </select></h3>
                <script>
                    document.getElementById('eventType').value = "{{event.eventType}}";
                    document.getElementById('eventAgeGroup').value = "{{event.eventAgeGroup}}";
                </script>
                <h3><input type="text" name="eventVenue" id="eventVenue" value="{{event.eventVenue}}"> Field <input type="number" name="eventField" id="eventField" value="{{event.eventField}}"></h3>
                {% if event.eventType == 'Game' %}
                <h3>(away) 
                    <select name="awayTeam" id="awayTeam">
                        <option value="None">None</option>
                        {% for team in teamsList %}
                            <option value="{{team.teamId}}">{{team.teamId}}</option>
                        {% endfor %}
                    </select> vs. 
                    <select name="homeTeam" id="homeTeam">
                        <option value="None">None</option>
                        {% for team in teamsList %}
                            <option value="{{team.teamId}}">{{team.teamId}}</option>
                        {% endfor %}
                    </select> (home)
                </h3>
                <h3>Umpire Duty: 
                    <select name="umpireDuty" id="umpireDuty">
                        <option value="None">None</option>
                        {% for team in teamsList %}
                            <option value="{{team.teamId}}">{{team.teamId}}</option>
                        {% endfor %}
                    </select>
                </h3>
                <script>
                    document.getElementById('awayTeam').value = "{{event.awayTeam}}";
                    document.getElementById('homeTeam').value = "{{event.homeTeam}}";
                    document.getElementById('umpireDuty').value = "{{event.umpireDuty}}";
                </script>
                {% else %}
                <h3>Team: <select name="homeTeam" id="homeTeam">
                    {% for team in teamsList %}
                        <option value="{{team.teamId}}">{{team.teamId}}</option>
                    {% endfor %}
                </select></h3>
                <script>
                    document.getElementById('homeTeam').value = "{{event.homeTeam}}";
                </script>
                {% endif %}
            </center>
            
        </section>
        <section>
            <center>
                <h2>Status: <input type="text" name="status" id="status" value="{{event.status}}"></h2>
            </center>
        </section>
        {% if event.eventType == 'Game' %}
        <section>
            <center>
                <h2>Plate Umpire: <select name="plateUmpire" id="plateUmpire">
                    <option value="None">None</option>
                    {% for user in userList if 'umpire' in user.role or 'youth' in user.role %}
                        <option value="{{user._id}}">{{user.lastName}}, {{user.firstName}}</option>
                    {% endfor %}
                </select></h2>
                <h3>Email: {{event.plateUmpireInfo.email}}</h3>
                <h3>Phone: {{event.plateUmpireInfo.phone}}</h3>
            </center>
        </section>
        <section>
            <center>
                <h2>Field Umpire: <select name="field1Umpire" id="field1Umpire">
                    <option value="None">None</option>
                    {% for user in userList if 'umpire' in user.role or 'youth' in user.role %}
                        <option value="{{user._id}}">{{user.lastName}}, {{user.firstName}}</option>
                    {% endfor %}
                </select></h2>
                <h3>Email: {{event.field1UmpireInfo.email}}</h3>
                <h3>Phone: {{event.field1UmpireInfo.phone}}</h3>
            </center>
        </section>
        <section>
            <center>
                <h2>Coach Request: <select name="fieldRequest" id="fieldRequest">
                    <option value="None">None</option>
                    {% for user in userList if 'coach' in user.role %}
                        <option value="{{user._id}}">{{user.lastName}}, {{user.firstName}}</option>
                    {% endfor %}
                </select></h2>
                <h3>Email: {{event.fieldRequestInfo.email}}</h3>
                <h3>Phone: {{event.fieldRequestInfo.phone}}</h3>
            </center>
        </section>
        <script>
            document.getElementById('plateUmpire').value = "{{event.plateUmpireInfo._id}}";
            document.getElementById('field1Umpire').value = "{{event.field1UmpireInfo._id}}";
            document.getElementById('fieldRequest').value = "{{event.fieldRequestInfo._id}}";
        </script>
        {% endif %}
        <section>
            <center>
                <table class="center">
                    <h2>Edit Rules</h2>
                    <p>These rules govern how users interact with this event.</p>
                    <tr>
                        <td>Visible: </td>
                        <td><input type="checkbox" name="visible" id="visible"></td>
                    </tr>
                    <tr>
                        <td>Has plate umpire: </td>
                        <td><input type="checkbox" name="hasPlateUmpire" id="hasPlateUmpire"></td>
                    </tr>
                    <tr>
                        <td>Users can add plate duty: </td>
                        <td><input type="checkbox" name="plateUmpireAddable" id="plateUmpireAddable"></td>
                    </tr>
                    <tr>
                        <td>Has field umpire: </td>
                        <td><input type="checkbox" name="hasField1Umpire" id="hasField1Umpire"></td>
                    </tr>
                    <tr>
                        <td>Users can add field duty: </td>
                        <td><input type="checkbox" name="field1UmpireAddable" id="field1UmpireAddable"></td>
                    </tr>
                    <tr>
                        <td>Has coach duty: </td>
                        <td><input type="checkbox" name="hasFieldRequest" id="hasFieldRequest"></td>
                    </tr>
                    <tr>
                        <td>Coaches can add field request: </td>
                        <td><input type="checkbox" name="fieldRequestAddable" id="fieldRequestAddable"></td>
                    </tr>
                    <tr>
                        <td>Umpires can remove game: </td>
                        <td><input type="checkbox" name="removable" id="removable"></td>
                    </tr>
                </table>
            </center>
            <script>
                if ("{{event.editRules.visible}}" == "True") {
                    document.getElementById('visible').checked = true;
                }
                if ("{{event.editRules.hasPlateUmpire}}" == "True") {
                    document.getElementById('hasPlateUmpire').checked = true;
                }
                if ("{{event.editRules.plateUmpireAddable}}" == "True") {
                    document.getElementById('plateUmpireAddable').checked = true;
                }
                if ("{{event.editRules.hasField1Umpire}}" == "True") {
                    document.getElementById('hasField1Umpire').checked = true;
                }
                if ("{{event.editRules.field1UmpireAddable}}" == "True") {
                    document.getElementById('field1UmpireAddable').checked = true;
                }
                if ("{{event.editRules.hasFieldRequest}}" == "True") {
                    document.getElementById('hasFieldRequest').checked = true;
                }
                if ("{{event.editRules.fieldRequestAddable}}" == "True") {
                    document.getElementById('fieldRequestAddable').checked = true;
                }
                if ("{{event.editRules.removable}}" == "True") {
                    document.getElementById('removable').checked = true;
                }
            </script>
        </section>
        <center><button class="action" name="updateEvent" value="updateEvent" type="submit">Save Changes</button></center>
    </form>
    {% endif %}
</main>

{% endblock content %}