<head>
    <link rel="stylesheet" href="{{url_for('static', filename='view_game/view.css')}}">
</head>

{% extends "design.html" %}

{% block title %}View User{% endblock title %}

{% block content %}
<main>
    <center>
        <h1>View User</h1>
        <h4 class='error'>{{msg}}</h4>
    </center>
    <section>
        <center>
            <h2>{{view_user.firstName}} {{view_user.lastName}}</h2>
            <h3>Email: {{view_user.email}}</h3>
            <h3>Phone: {{view_user.phone}}</h3>
        </center>
    </section>
    <section>
        <center>
            <h3>Teams: {{view_user.teams|join(', ')}}</h3>
            <h3>Roles: {{view_user.role|join(', ')}}</h3>
        </center>
    </section>
</main>

{% endblock content %}