<head>
    <link rel="stylesheet" href="{{url_for('static', filename='view_game/view.css')}}">
</head>

{% extends "design.html" %}

{% block title %}Admin{% endblock title %}

{% block content %}
<main>
    <center>
        <h1>Add Team</h1>
        <h4 class='error'>{{res.msg}}</h4>
    </center>
    
    <form method="post" id="addTeam">
        <div class="split"><button class="action" name="add" value="add" type="submit">Add Team</button></div>
        <section>
            <center>
                <h3>Season: {{res.league.current_season}}</h3>
                <h3>Age Group: <select name="age" id="age" onchange="loadCodePrefix()" required>
                    <option value="" disabled selected>Select</option>
                    {% for a in res.league.age_groups %}
                        <option value="{{a}}">{{a}}</option>
                    {% endfor %}
                </select></h3>
                <h3>Team Code: <span id="codePrefix"></span> <input type="number" name="teamId" id="teamId" placeholder="#" required style="width: 60px;"></h3>
                <h3>Team Name: <input type="text" name="name" id="name" required></h3>
                <p class="subtle">Hold ctrl on PC or cmd on Mac to select multiple coaches</p>
                <h3>Coaches: <select multiple name="coaches" id="coaches">
                    {% for coach in coaches %}
                        <option value="{{coach.userId}}">{{coach.firstLast}}</option>
                    {% endfor %}
                </select></h3>
                
            </center>
        </section>
        <div class="split"><button class="action" name="add" value="add" type="submit">Add Team</button></div>
    </form>
    
</main>

<script>
    function loadCodePrefix() {
        age = document.getElementById('age').value;
        prefix = age.toUpperCase().slice(0, 3)
        document.getElementById('codePrefix').innerHTML = prefix;
    }
</script>
{% endblock content %}