<head>
    <link rel="stylesheet" href="{{url_for('static', filename='view_game/view.css')}}">
</head>

{% extends "design.html" %}

{% block title %}Admin{% endblock title %}

{% block content %}
<main>
    <center>
        <h1>Add Event</h1>
        <h4 class='error'>{{res.msg}}</h4>
    </center>
    
    <form method="post" id="addEvent">
        <div class="split"><button class="action" name="add" value="add" type="submit">Add Event</button></div>
        <section>
            <center>
                <h2>
                    <p>{{res.league.name}}</p> 
                    <select name="type" id="type">
                        <option value="Game">Game</option>
                        <option value="Practice">Practice</option>
                    </select>
                </h2>
                <h3><input type="datetime-local" name="date" id="date" required></h3>
                <h3>Age Group: <select name="age" id="age" required>
                    <option value="" selected disabled>Select</option>
                    {% for a in res.league.age_groups %}
                        <option value="{{a}}">{{a}}</option>
                    {% endfor %}
                </select></h3>
                <h3>Venue: <select name="venueId" id="venueId" required>
                    <option value="" selected disabled>Select</option>
                    {% for v in res.league.venues %}
                        <option value="{{v}}">{{v}}</option>
                    {% endfor %}
                </select></h3>

                <h3>Field <input type="number" name="field" id="field" required></h3>

                <h3>(away) 
                    <select name="away" id="away">
                        <option value="" selected>None</option>
                        {% for t in res.league.teams %}
                            <option value="{{t.teamId}}">{{t.teamId}}</option>
                        {% endfor %}
                    </select> vs. 
                    <select name="home" id="home">
                        <option value="" selected>None</option>
                        {% for t in res.league.teams %}
                            <option value="{{t.teamId}}">{{t.teamId}}</option>
                        {% endfor %}
                    </select> (home)
                </h3>
                
                <p class="urgent">Note: for practices, the "home" team will be displayed</p>

            </center>
        </section>
        <section>
            <center>
                <h2>Status: <input type="text" name="status" id="status" value="On Time" required></h2>
                <p>Visible: <input type="checkbox" name="visible" id="visible" checked></p>
                <p>Locked: <input type="checkbox" name="locked" id="locked"></p>
            </center>
        </section>
        <section>
            <center>
                <h2>Umpires <button onclick="addUmpire()" class="action secondary" type="button">Add Umpire</button></h2>
            </center>
        </section>

        <div id="umpire-container">

        </div>
        
        <div class="split"><button class="action" name="add" value="add" type="submit">Add Event</button></div>
    </form>
    
</main>

<script>
    let ump_count = 0
    function addUmpire() {
        let container = document.getElementById('umpire-container');
        ump_count++;
        let ump_html = `
            <section id="ump_${ump_count}">
                <button type="button" class="action danger" onclick="removeUmp('${ump_count}')">Cancel</button>
                <center>
                    <h3>Position: <select name="ump${ump_count}_pos" required>
                        <option value="" selected disabled>Select</option>
                        {% for pos in res.league.ump_positions %}
                            <option value="{{pos}}">{{pos}}</option>
                        {% endfor %}
                    </select></h3>
                    <h3>Team Duty: <select name="ump${ump_count}_team" required>
                        <option value="None" selected>None</option>
                        {% for t in res.league.teams %}
                            <option value="{{t.teamId}}">{{t.teamId}}</option>
                        {% endfor %}
                    </select></h3>
                </center>
            </section>
        `;
        container.insertAdjacentHTML('beforeend', ump_html);
    }

    function removeUmp(num) {
        let e = document.getElementById(`ump_${num}`);
        e.remove();
    }
</script>

{% endblock content %}