<head>
    <link rel="stylesheet" href="{{url_for('static', filename='view_game/view.css')}}">
</head>

{% extends "design.html" %}

{% block title %}Add Event{% endblock title %}

{% block content %}
<main>
    <center>
        <h1>Add Event</h1>
        <h4 class='error'>{{msg}}</h4>
    </center>
    
    <form method="post" id="addEvent">
        <div class="split"><button class="action" name="addEvent" value="addEvent" type="submit">Add Event</button></div>
        <section>
            <center>
                <h2>
                    <input type="text" name="eventLocation" id="eventLocation" value="{{user.location}}" disabled> - 
                    <select name="eventType" id="eventType">
                        <option value="Game">Game</option>
                        <option value="Practice">Practice</option>
                    </select>
                </h2>
                <h3><input type="datetime-local" name="eventDate" id="eventDate" required></h3>
                <h3>Age Group: <select name="eventAgeGroup" id="eventAgeGroup">
                    <option value="T-Ball">T-Ball</option>
                    <option value="Coach Pitch">Coach Pitch</option>
                    <option value="AA">AA</option>
                    <option value="AAA">AAA</option>
                    <option value="Majors">Majors</option>
                    <option value="50/70">50/70</option>
                    <option value="Juniors">Juniors</option>
                </select></h3>
                <h3><input type="text" name="eventVenue" id="eventVenue" placeholder="Venue (ex. Twin Lakes)" required> Field <input type="number" name="eventField" id="eventField" required></h3>

                <h3>(away) 
                    <select name="awayTeam" id="awayTeam" required>
                        <option value="None">None</option>
                        {% for team in teamsList %}
                            <option value="{{team.teamId}}">{{team.teamId}}</option>
                        {% endfor %}
                    </select> vs. 
                    <select name="homeTeam" id="homeTeam" required>
                        <option value="None">None</option>
                        {% for team in teamsList %}
                            <option value="{{team.teamId}}">{{team.teamId}}</option>
                        {% endfor %}
                    </select> (home)
                </h3>
                <h3>Umpire Duty: 
                    <select name="umpireDuty" id="umpireDuty" required>
                        <option value="None">None</option>
                        {% for team in teamsList %}
                            <option value="{{team.teamId}}">{{team.teamId}}</option>
                        {% endfor %}
                    </select>
                </h3>
                <p class="urgent">Note: for practices, only select team as home and away</p>

            </center>
        </section>
        <section>
            <center>
                <h2>Status: <input type="text" name="status" id="status" value="On Time" required></h2>
            </center>
        </section>

        <section>
            <center>
                <h2>Plate Umpire: <select name="plateUmpire" id="plateUmpire">
                    <option value="None">None</option>
                    {% for user in userList if 'umpire' in user.role or 'youth' in user.role %}
                        <option value="{{user._id}}">{{user.lastName}}, {{user.firstName}}</option>
                    {% endfor %}
                </select></h2>
            </center>
        </section>
        <section>
            <center>
                <h2>Field Umpire: <select name="field1Umpire" id="field1Umpire">
                    <option value="None">None</option>
                    {% for user in userList if 'umpire' in user.role or 'youth' in user.role %}
                        <option value="{{user._id}}">{{user.lastName}}, {{user.firstName}}</option>
                    {% endfor %}
                </select></h2>
            </center>
        </section>
        <section>
            <center>
                <h2>Coach Request: <select name="fieldRequest" id="fieldRequest">
                    <option value="None">None</option>
                    {% for user in userList if 'coach' in user.role %}
                        <option value="{{user._id}}">{{user.lastName}}, {{user.firstName}}</option>
                    {% endfor %}
                </select></h2>
            </center>
        </section>

        <section>
            <center>
                <h2>Edit Rules</h2>
                <p>These rules govern how users interact with this event.</p>
                <h3>Visible: <input type="checkbox" name="visible" id="visible" checked></h3>
                <h3>Can add plate umpire: <input type="checkbox" name="plateUmpireAddable" id="plateUmpireAddable" checked></h3>
                <h3>Can add field umpire: <input type="checkbox" name="field1UmpireAddable" id="field1UmpireAddable" checked></h3>
                <h3>Umpires need permission to remove game: <input type="checkbox" name="requireRemoveRequest" id="requireRemoveRequest" checked></h3>
                <h3>Can add coach request: <input type="checkbox" name="fieldRequestAddable" id="fieldRequestAddable" checked></h3>
                <h3>Coaches can remove request: <input type="checkbox" name="fieldRequestRemovable" id="fieldRequestRemovable" checked></h3>
            </center>

        </section>
        <div class="split"><button class="action" name="updateEvent" value="updateEvent" type="submit">Add Event</button></div>
    </form>
    
</main>

{% endblock content %}