<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main/home.css')}}">
</head>
{% extends "design.html" %}

{% block title %}Send Announcement{% endblock title %}

{% block content %}
<main>
    <center>
        <h1 class="fancy">Send Announcement</h1>
        <h3 class="error">{{res.msg}}</h3>
        
        <div class="divide">
            <section>
                <h2>Custom Message</h2>
                <form method="post" class="announcement" enctype="multipart/form-data">
                    <details open class="multiselect">
                        <summary>Type</summary>
                        <div>
                            <label for="email">Email</label>
                            <input type="checkbox" name="email" id="email">
                        </div>
                        <div>
                            <label for="text">Text</label>
                            <input type="checkbox" name="text" id="text" disabled>
                        </div>
                    </details>
                    <details open class="multiselect" id="recipients">
                        <summary>Send To</summary>
                        <div>
                            <button class="action" onclick="selectAll()" type="button">All Users</button>
                        </div>
                        <div>
                            <label for="bcc">Myself</label>
                            <input type="checkbox" name="bcc" id="bcc">
                        </div>
                        <p><b>Groups</b> - Send to certain groups (every team)</p>
                        <div>
                            <label for="coach">All Coaches</label>
                            <input type="checkbox" name="group" value="coach" id="coach">
                        </div>
                        <div>
                            <label for="parent">All Parents</label>
                            <input type="checkbox" name="group" value="parent" id="parent">
                        </div>
                        <div>
                            <label for="umpire">All Umpires</label>
                            <input type="checkbox" name="group" value="umpire" id="umpire">
                        </div>
                        <div>
                            <label for="board">All Directors</label>
                            <input type="checkbox" name="group" value="director" id="director">
                        </div>
                        <p><b>Permission Groups</b></p>
                        {% for g in res.league.perm_groups %}
                            <div>
                                <label for="{{g.name}}">{{g.name}}</label>
                                <input type="checkbox" name="perm_group" id="{{g.name}}" value="{{g.name}}">
                            </div>
                        {% endfor %}
                        <p><b>Teams</b> - Send to coaches and parents of each team</p>
                        {% for t in all_teams %}
                        <div>
                            <label for="{{t.teamId}}">{{t.teamId}}</label>
                            <input type="checkbox" name="teams" value="{{t.teamId}}" id="{{t.teamId}}">
                        </div>
                        {% endfor %}
                        <script>
                            function selectAll() {
                                let allInputs = document.getElementById('recipients').getElementsByTagName('input');
                                for (var input of allInputs) {
                                    input.checked = true;
                                }
                            }
                            function updateChars(field, display, max) {
                                let displayText = 'Characters remaining: ';
                                let displayField = document.getElementById(display);
                                let charsLeft = max - field.value.length;
                                displayText += charsLeft.toString();
                                displayField.innerHTML = displayText;
                            }
                        </script>
                    </details>
                    <h3>Message</h3>
                    <textarea style="resize: none;" name="msg" id="msg" cols="40" rows="5" maxlength="300" onkeyup="updateChars(this, 'chars', 300)"></textarea>
                    <p class="error" id='chars'>Characters remaining: 300</p>
                    <button class="action" type="submit" name="sendMessage" value="sendMessage" onclick="return confirm('Send message?')">Send</button>
                </form>
            </section>
            
        </div>
    
    </center>
</main>

{% endblock content %}