<head>
    <link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
    <script src="{{url_for('static', filename='schedule.js')}}" defer></script>
    <style>
        @media screen and (max-width: 2000px) {
            main {
                width: 95%;
            }
        }
    </style>
</head>

{% extends "design.html" %}
{% block title %}Admin{% endblock title %}

{% block content %}
<main>
    <section class="split">
        <div>
            <h1 class="fancy">Events ({{res.league.current_season}})</h1>
            <p class="error">{{res.msg}}</p>
        </div>
        <div class="align-right">
            <h3><a href="{{url_for('admin.add_event')}}">Add Event</a> | <a href="{{url_for('admin.upload_schedule')}}">Upload Schedule</a></h3>
            <form method="post">
                <button class="action secondary" onclick="return confirm('Generate director shifts? This will replace any existing shifts for this season!')" name="genShifts" value="1">Generate DOD Shifts</button>
                <button class="action secondary" onclick="return confirm('Unlock all games?')" name="unlockAll" value="1">Unlock all Games</button>
            </form>
        </div>
    </section>

    <form method="post" name="form">
        {% include "filters.html" %}
        <section class="split">
            <div>
            </div>
            <div class="align-right">
                <button type="submit" class="action" name="save" value="save"><i class="fa-solid fa-floppy-disk"></i> Save</button>
            </div>
        </section>

        <section class="schedule-section scrollwrapper">
            {% if events|length < 1 %}
            <h3 class="error">No events found.</h3>
            {% endif %}
            <table id="schedule-table" class="event-display admin">
                <tr>
                    <th></th>
                    <th>Event</th>
                    <th><i class="fa-solid fa-unlock"></i></th>
                    <th>Date/Time</th>
                    <th>Venue</th>
                    <th>Field</th>
                    <th>Age Group</th>
                    <th>Status</th>
                    <th>Away</th>
                    <th>Home</th>
                    {% if not res.show_umps %}
                    <th>Umpires <a onclick="expand(true)"><i title="Show Umpires" class="fa-solid fa-up-right-and-down-left-from-center"></i></a></th>
                    {% else %}
                    <th colspan="{{res.max_ump_count or 2}}">Umpires <a onclick="expand(false)"><i title="Hide Umpires" class="fa-solid fa-minimize"></i></a></th>
                    {% endif %}
                    <th>Delete</th>
                </tr>
                {% for e in events %}
                <tr class="event-row">
                    <td><a class="icon-link" href="{{url_for('view_info.event', eventId=e._id)}}"><i class="fa-solid fa-info"></i></a></td>
                    <td class="event-type">{{e.type}}</td>
                    <td>
                        {% if e.locked %}
                            <button name="unlock" value="{{e._id}}" class="schedule-action danger"><i class="fa-solid fa-lock"></i></button>
                        {% else %}
                            <button name="lock" value="{{e._id}}" class="schedule-action"><i class="fa-solid fa-unlock"></i></button>
                        {% endif %}
                    </td>
                    <td><input class="admin" type="datetime-local" name="{{e._id}}_date" id="date" value="{{e.date.isoformat()[0:16]}}"> : <input class="admin number" type="text" pattern="([0-9]*[.])?[0-9]+" name="{{e._id}}_duration" id="field" value="{{e.duration}}"> hrs</td>
                    <td><select class="admin" name="{{e._id}}_venueId" id="{{e._id}}_venueId">
                        {% for v in res.league.venues %}
                            <option value="{{v}}">{{v}}</option>
                        {% endfor %}
                    </select></td>
                    <td><input class="admin number" type="number" name="{{e._id}}_field" id="field" value="{{e.field}}"></td>
                    <td><select class="admin" name="{{e._id}}_age" id="{{e._id}}_age">
                        {% for a in res.league.age_groups %}
                            <option value="{{a}}">{{a}}</option>
                        {% endfor %}
                    </select></td>
                    <td><input class="admin" type="text" name="{{e._id}}_status" id="status" value="{{e.status}}"></td>
                    <td><select class="admin" name="{{e._id}}_away" id="{{e._id}}_away">
                        <option value="None">None</option> 
                        {% for t in res.league.teams %}
                            <option value="{{t.teamId}}">{{t.teamId}}</option>
                        {% endfor %}
                    </select></td>
                    <td><select class="admin" name="{{e._id}}_home" id="{{e._id}}_home">
                        <option value="None">None</option> 
                        {% for t in res.league.teams %}
                            <option value="{{t.teamId}}">{{t.teamId}}</option>
                        {% endfor %}
                    </select></td>

                    {% if not res.show_umps %}
                        <td>{{e.full_umps}}/{{e.total_umps}}</td>
                    {% else %}
                        {% for pos, u in e.umpires.items() %}
                        <td>
                            <select class="admin" name="{{e._id}}_{{pos}}" id="{{e._id}}_{{pos}}">
                                <option value="">None</option>
                                {% for u in all_umps %} 
                                <option value="{{u.userId}}">{{u.firstLast}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <script>
                            document.getElementById("{{e._id}}"+"_{{pos}}").value = "{{e.umpires.get(pos).user.userId}}";
                            console.log("{{e.umpires.get(pos).user.userId}}");
                        </script>
                        {% endfor %}
                    {% endif %}


                    <td><button class="schedule-action danger" type="submit" name="delete" value="{{e._id}}" onclick="return confirm('Delete event?')">Delete</button></td>
                </tr>
                <script>
                    document.getElementById("{{e._id}}"+"_away").value = "{{e.away}}";
                    document.getElementById("{{e._id}}"+"_home").value = "{{e.home}}";
                    document.getElementById("{{e._id}}"+"_venueId").value = "{{e.venueId}}";
                    document.getElementById("{{e._id}}"+"_age").value = "{{e.age}}";
                </script>
                {% endfor %}
            </table>
        </section>
        <button id="load-more" type="button" class="action" onclick="load()">Load More</button>
    </form>
</main>

{% endblock content %}