<head>
    <link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
    <script src="{{url_for('static', filename='schedule.js')}}"></script>
    <style>
        @media screen and (max-width: 2000px) {
            main {
                width: 95%;
            }
        }
    </style>
</head>

{% extends "design.html" %}
{% block title %}Event Data{% endblock title %}

{% block content %}
<main>
    <section class="split">
        <div>
            <h1>Event Data (2024)</h1>
            <p class="error">{{msg}}</p>
        </div>
        <div class="align-right">
            <h3><a href="{{url_for('admin.add_event')}}">Add Event</a></h3>
        
            <details>
                <summary><b>Other Options</b></summary>
                <form method="post">
                <div class="stack">
                    <button type="submit" class="action" name="freeDrop" value="open">Open <i>Free Drop</i></button>
                    <button type="submit" class="action" name="freeDrop" value="close">Close <i>Free Drop</i></button>
                    <button type="submit" class="action" name="lockGames" value="open">Unlock All Games</button>
                    <button type="submit" class="action" name="lockGames" value="close">Lock All Games</button>
                    <br>
                    <button type="submit" class="action" name="updateMisc" value="update" onclick="return confirm('Run Miscellaneous Function? This should only be used by developers!')">Run Misc. Func.</button>
                </div>
                </form>
            </details>
            
            
        </div>
    </section>
    <button type="" onclick="toggleFilterSection('filter-section')" class="filter-dropdown action"><i class="fa-solid fa-filter"></i> Filters</button>
    <form method="post">
        <section id="filter-section" class="filter-section">
            <select name="updateFilter" id="updateFilter" style="display: none;">
                <option value="updateFilter" selected>UpdateFilter</option>
            </select>
            <select class="filter" name="hidePast" id="hidePast" onchange="this.form.submit()">
                <option value="true" selected>Future only</option>
                <option value="false">Past and Future</option>
            </select>
            <select class="filter" name="teamId" id="teamId" onchange="this.form.submit()">
                <option value="null" selected>All Teams</option>
                {% for team in allTeams %}
                <option value="{{team['teamId']}}">{{team['teamId']}}</option>
                {% endfor %}
            </select>
            <select class="filter" name="eventTypeFilter" id="eventTypeFilter" onchange="this.form.submit()">
                <option value="null" selected>All events</option>
                <option value="Game">Games only</option>
                <option value="Practice">Practices only</option>
            </select>
        
            <script>
                let filter = {{ eventFilter | tojson }};
                document.getElementById('hidePast').value = filter.hidePast;
                document.getElementById('teamId').value = filter.teamId;
                document.getElementById('eventTypeFilter').value = filter.eventTypeFilter;

                function toggleFilterSection(section) {
                    let sect = document.getElementById(section);
                    if (sect.style.display == 'none') {
                        sect.style.display = 'block';
                    }
                    else {
                        sect.style.display = 'none';
                    }
                }
            </script>
        </section>

        <section class="schedule-section scrollwrapper">
            {% if eventList|length < 1 %}
            <h3 class="error">No events found.</h3>
            {% endif %}
            <table id="schedule-table" class="event-display admin">
                <tr>
                    <th></th>
                    <th>Event</th>
                    <th>Date/Time</th>
                    <th>Venue</th>
                    <th>Field</th>
                    <th>Status</th>
                    <th>Away</th>
                    <th>Home</th>
                    <th>Umpire Duty</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                {% for event in eventList %}
                <tr class="event-row">
                    <td><a class="icon-link" href="{{url_for('view_info.event', eventId=event._id)}}"><i class="fa-solid fa-info"></i></a></td>
                    <td class="event-type">{{event.eventType}}</td>
                    <td><input class="admin" type="datetime-local" name="eventDate_{{event._id}}" id="eventDate" value="{{event.eventDate}}"></td>
                    <td><input class="admin" type="text" name="eventVenue_{{event._id}}" id="eventVenue" value="{{event.eventVenue}}"></td>
                    <td><input class="admin" type="number" name="eventField_{{event._id}}" id="eventField" value="{{event.eventField}}"></td>
                    <td><input class="admin" type="text" name="status_{{event._id}}" id="status" value="{{event.status}}"></td>
                    <td><select class="admin" name="awayTeam_{{event._id}}" id="awayTeam_{{event._id}}">
                        <option value="None">None</option> 
                        {% for team in allTeams %}
                            <option value="{{team.teamId}}">{{team.teamId}}</option>
                        {% endfor %}
                    </select></td>
                    <td><select class="admin" name="homeTeam_{{event._id}}" id="homeTeam_{{event._id}}">
                        <option value="None">None</option> 
                        {% for team in allTeams %}
                            <option value="{{team.teamId}}">{{team.teamId}}</option>
                        {% endfor %}
                    </select></td>
                    <td><select class="admin" name="umpireDuty_{{event._id}}" id="umpireDuty_{{event._id}}">
                        <option value="None">None</option>
                        {% for team in allTeams %}
                        <option value="{{team.teamId}}">{{team.teamId}}</option>
                        {% endfor %}
                    </select></td>
                    <td><button class="schedule-action" type="submit" name="updateEvent" value="{{event._id}}">Update</button></td>
                    <td><button class="schedule-action" type="submit" name="deleteEvent" value="{{event._id}}" onclick="return confirm('Delete event?')">Delete</button></td>
                </tr>
                <script>
                    document.getElementById('awayTeam'+"_{{event._id}}").value = "{{event.awayTeam}}";
                    document.getElementById('homeTeam'+"_{{event._id}}").value = "{{event.homeTeam}}";
                    document.getElementById('umpireDuty'+"_{{event._id}}").value = "{{event.umpireDuty}}";
                    document.getElementById('eventAgeGroup'+"_{{event._id}}").value = "{{event.eventAgeGroup}}";
                </script>
                {% endfor %}
            </table>
        </section>
    </form>
</main>

<script>
    let tbl = document.getElementById('schedule-table');
    colorifySchedule(tbl);
</script>
{% endblock content %}