<head>
    <link rel="stylesheet" href="{{url_for('static', filename='view_game/view.css')}}">
</head>

{% extends "design.html" %}

{% block title %}Admin{% endblock title %}

{% block content %}
<script src="{{url_for('static', filename='share.js')}}" defer></script>

<main>
    <center>
        <h1>Manage League</h1>
        <h4 class='error'>{{res.msg}}</h4>
    </center>
    <section>
        <center>
            <h2>{{res.league.name}} ({{res.league.abbr}})</h2>
            <h3 class="subtle"><i class="fa-solid fa-id-card"></i> {{res.league.leagueId}}</h3>
            <button class="action" onclick="copy('{{res.protocol}}://{{res.domain}}{{url_for('invite.add_league', leagueId = res.league.leagueId)}}')">Share League</button>
        </center>
    </section>

        <section>
            <form method="post">
            <center>
                <h3>Current Season: <select name="current_season" id="current_season">
                    <option value="Spring {{res.date.year}}">Spring {{res.date.year}}</option>
                    <option value="Summer {{res.date.year}}">Summer {{res.date.year}}</option>
                    <option value="Fall {{res.date.year}}">Fall {{res.date.year}}</option>
                    <option value="Spring {{res.date.year + 1}}">Spring {{res.date.year + 1}}</option>
                </select></h3>
                <button class="action" name="updateSeason" value="0" onclick="return confirm('Update season? This will reset all team and game progress if changed.')">Update</button>
                <script>
                    document.getElementById('current_season').value = '{{res.league.current_season}}';
                </script>
            </center>
            </form>
        </section>

        <section>
            <center>
                <form method="post">
                    <h3>Permissions</h3>
                    <p>
                        <button class="action" name="toggleUmpireAdd" value="toggleUmpireAdd"><i class="fa-solid fa-power-off"></i></button>
                        Umpire Add: 
                        {% if res.league.umpire_add %}
                        <i class="fa-solid fa-square-check success"></i>
                        {% else %}
                        <i class="fa-solid fa-square-xmark error"></i>
                        {% endif %}
                    </p>
                </form>
            </center>
        </section>

        <section>
            <form method="post">
            <center>
                <h3>Age Groups</h3>
                <table class="center">
                    <tr>
                        <th>Age Group</th>
                        <th>Code</th>
                        <th>Remove</th>
                    </tr>
                    {% for a in res.league.age_groups %}
                    <tr>
                        <td>{{a}}</td>
                        <td>{{a.upper()[:3]}}</td>
                        <td><button onclick="return confirm('Remove {{a}} age group?')" class="danger action" name="deleteAge" value="{{a}}"><i class="fa-solid fa-xmark"></i></button></td>
                    </tr>
                    {% endfor %}
                   
                </table>
            </form>
                <br>
            <form method="post">
                <h3><input type="text" name="new_age" id="new_age" placeholder="New Age Group" required> 
                    <button class="action" name="addAge" value="addAge">Add</button>
                </h3>
            </form>
            </center>
            
        </section>

        <section>
            <form method="post">
            <center>
                <h3>Authentication Codes</h3>
                <p>Coaches, umpires, and directors use their respective codes below to sign up for your league with higher permissions.</p>
                <h3>Umpire: <input type="text" name="umpire_code" id="umpire_code" value="{{res.league.auth.umpire_code}}" required></h3>
                <h3>Coach: <input type="text" name="coach_code" id="coach_code" value="{{res.league.auth.coach_code}}" required></h3>
                <h3>Director: <input type="text" name="director_code" id="director_code" value="{{res.league.auth.director_code}}" required></h3>
                <button class="action" name="updateCodes" value="1">Update</button>

            </center>
            </form>
        </section>
</main>

{% endblock content %}