<head>
    <link rel="stylesheet" href="{{url_for('static', filename='view_game/view.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
</head>

{% extends "design.html" %}

{% block title %}Admin{% endblock title %}

{% block content %}
<script src="{{url_for('static', filename='share.js')}}" defer></script>

<main>
    <center>
        <h1 class="fancy">Manage League</h1>
        <h4 class='error'>{{res.msg}}</h4>
    </center>
    <section>
        <center>
            <h2>{{res.league.name}} ({{res.league.abbr}})</h2>
            <h3 class="subtle"><i class="fa-solid fa-id-card"></i> {{res.league.leagueId}}</h3>
            <button class="action" onclick="copy('{{res.protocol}}://{{res.domain}}{{url_for('invite.add_league', leagueId = res.league.leagueId)}}')">Share League</button>
        </center>
    </section>

        <section>
            <form method="post">
            <center>
                <h3>Current Season: <select name="current_season" id="current_season">
                    <option value="Spring {{res.date.year}}">Spring {{res.date.year}}</option>
                    <option value="Summer {{res.date.year}}">Summer {{res.date.year}}</option>
                    <option value="Fall {{res.date.year}}">Fall {{res.date.year}}</option>
                    <option value="Spring {{res.date.year + 1}}">Spring {{res.date.year + 1}}</option>
                </select></h3>
                <button class="action" name="updateSeason" value="0" onclick="return confirm('Update season? This will reset all team and game progress if changed.')">Update</button>
                <script>
                    document.getElementById('current_season').value = '{{res.league.current_season}}';
                </script>
            </center>
            </form>
        </section>

        <section>
            <center>
                <form method="post">
                    <h3>Permissions</h3>
                    <p>
                        <button class="action" name="toggleUmpireAdd" value="toggleUmpireAdd"><i class="fa-solid fa-power-off"></i></button>
                        Allow umpire signup: 
                        {% if res.league.umpire_add %}
                        <i class="fa-solid fa-square-check success"></i>
                        {% else %}
                        <i class="fa-solid fa-square-xmark error"></i>
                        {% endif %}
                    </p>

                    <p>
                        <button class="action" name="toggleReqPerm" value="toggleReqPerm"><i class="fa-solid fa-power-off"></i></button>
                        Require permissions to signup: 
                        {% if res.league.require_perm %}
                        <i class="fa-solid fa-square-check success"></i>
                        {% else %}
                        <i class="fa-solid fa-square-xmark error"></i>
                        {% endif %}
                    </p>
                </form>
                <form method="post">
                    <p>
                        <label for="maxUmpireGames">Max umpire signup:</label>
                        <input type="number" name="maxUmpireGames" id="maxUmpireGames" value="{{res.league.max_umpire_games}}" required onchange="this.form.submit()">
                        <p class="subtle">The maximum allowed games umpire can sign up for. Set to -1 for unlimited.</p>
                    </p>
                </form>
            </center>
        </section>

        <section id="ages">
            <form method="post">
            <center>
                <h3>Age Groups</h3>
                <table class="center">
                    <tr>
                        <th>Age Group</th>
                        <th>Code</th>
                        <th>Remove</th>
                    </tr>
                    {% for a in res.league.age_groups %}
                    <tr>
                        <td>{{a}}</td>
                        <td>{{a.upper()[:3]}}</td>
                        <td><button onclick="return confirm('Remove {{a}} age group?')" class="danger action" name="deleteAge" value="{{a}}"><i class="fa-solid fa-xmark"></i></button></td>
                    </tr>
                    {% endfor %}
                   
                </table>
            </form>
                <br>
            <form method="post">
                <h3><input type="text" name="new_age" id="new_age" placeholder="New Age Group" required> 
                    <button class="action" name="addAge" value="addAge">Add</button>
                </h3>
            </form>
            </center>
            
        </section>

        <section id="venues">
            <form method="post">
                <center class="center">
                    <h3>Venues</h3>
                    <table>
                        <tr>
                            <th>venueId</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                        {% for v in res.league.venue_info %}
                        <tr>
                            <td>{{v.venueId}}</td>
                            <td>{{v.name}}</td>
                            <td>{{v.street}} {{v.city}}, {{v.state}} {{v.zipcode}}</td>
                            <td><button type="button" onclick="openPopup('{{v.venueId}}')" class="schedule-action"><i class="fa-solid fa-pen"></i></button></td>
                            <td><button onclick="return confirm('Remove {{v.venueId}} venue?')" class="danger action" name="deleteVenue" value="{{v.venueId}}"><i class="fa-solid fa-xmark"></i></button></td>
                        </tr>

                        <dialog class="popup" id="popup_{{v.venueId}}">
                            <a onclick="closePopup('{{v.venueId}}')" class="error"><i class="fa-solid fa-xmark"></i> Cancel</a>
                            <h3>{{v.venueId}}</h3>
                            <form method="post">
                                <p><label for="name">Name: </label>
                                <input type="text" name="name" id="name" value="{{v.name}}" required></p>
                                <p><label for="street">Street: </label>
                                <input type="text" name="street" id="street" value="{{v.street}}" required></p>
                                <p><label for="city">City: </label>
                                <input type="text" name="city" id="city" value="{{v.city}}" required></p>
                                <p><label for="state">State: </label>
                                <select name="state" id="{{v.venueId}}_state">
                                    {% for state in us_states.values() %}
                                        <option value="{{state}}">{{state}}</option>
                                    {% endfor %}
                                </select></p>
                                <script>
                                    document.getElementById('{{v.venueId}}_state').value = "{{v.state}}";
                                </script>

                                <p><label for="zipcode">Zipcode: </label>
                                <input type="number" name="zipcode" id="zipcode" value="{{v.zipcode}}" required></p>

                                <p><label for="field_count">Fields: </label>
                                <input type="number" name="field_count" id="field_count" value="{{v.field_count}}" required></p>
                                
                                <button type="submit" class="action" name="updateVenue" value="{{v.venueId}}">Save</button>

                                <br><br>
                                Venue status can be changed <a href="{{url_for('league.status')}}">here</a>.
                            </form>
                        </dialog>
                        {% endfor %}
                    </table>
                <button class="action" type="button" onclick="openPopup('add_venue')" class="schedule-action">Create</button>

                <dialog class="popup" id="popup_add_venue">
                            <a onclick="closePopup('add_venue')" class="error"><i class="fa-solid fa-xmark"></i> Cancel</a>
                            <form method="post">
                                <p><label for="venueId">Unique Id: </label>
                                <input type="text" name="venueId" id="venueId" required></p>
                                <p><label for="name">Name: </label>
                                <input type="text" name="name" id="name" required></p>
                                <p><label for="street">Street: </label>
                                <input type="text" name="street" id="street" required></p>
                                <p><label for="city">City: </label>
                                <input type="text" name="city" id="city" required></p>
                                <p><label for="state">state: </label>
                                <select name="state" id="state">
                                    {% for state in us_states.values() %}
                                        <option value="{{state}}">{{state}}</option>
                                    {% endfor %}
                                </select></p>

                                <p><label for="zipcode">Zipcode: </label>
                                <input type="number" name="zipcode" id="zipcode" required></p>

                                <p><label for="field_count">Field Count: </label>
                                <input type="number" name="field_count" id="field_count" required></p>
                                
                                <button type="submit" class="action" name="addVenue" value="1">Add</button>
                            </form>
                        </dialog>
                </center>
            </form>
            
        </section>

        <section>
            <form method="post">
            <center>
                <h3>Authentication Codes</h3>
                <p>Coaches, umpires, and directors use their respective codes below to sign up for your league with higher permissions.</p>
                <h3>Umpire: <input type="text" name="umpire_code" id="umpire_code" value="{{res.league.auth.umpire_code}}" required></h3>
                <h3>Coach: <input type="text" name="coach_code" id="coach_code" value="{{res.league.auth.coach_code}}" required></h3>
                <h3>Director: <input type="text" name="director_code" id="director_code" value="{{res.league.auth.director_code}}" required></h3>
                <button class="action" name="updateCodes" value="1">Update</button>

            </center>
            </form>
        </section>
</main>

{% endblock content %}