<head>
    <link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
    <script src="{{url_for('static', filename='schedule.js')}}" defer></script>
</head>

{% extends "design.html" %}
{% block title %}Admin{% endblock title %}

{% block content %}
<main>
    <section class="split">
        <div>
            <h1 class="fancy">Teams</h1>
        </div>
        <div class="align-right">
            <h3><a href="{{url_for('admin.add_team')}}">Add Team</a></h3>
        </div>
    </section>

    <form method="post">
        {% include "team-filters.html" %}

        <section class="schedule-section scrollwrapper">
            <section class="split">
                <div>
                    <p class="error">{{res.msg}}</p>
                </div>
                <div>
                    <button type="submit" class="action" name="save" value="save"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                </div>
            </section>
            {% if teams|length < 1 %}
            <h3 class="error">No teams found.</h3>
            {% endif %}
            <table id="schedule-table" class="event-display admin">
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age Group</th>
                    <th>Managed?</th>
                    <th>Delete</th>
                </tr>
                {% for t in teams %}
                <tr class="event-row">
                    <td><a class="icon-link" href="{{url_for('view_info.team', teamId=t.teamId)}}"><i class="fa-solid fa-info"></i></a></td>
                    <td>{{t.teamId}}</td>
                    <td><input class="admin" type="text" name="{{t._id}}_name" id="{{t._id}}_name" value="{{t.name}}"></td>
                    <td><select class="admin" name="{{t._id}}_age" id="{{t._id}}_age">
                        {% for a in res.league.age_groups %}
                            <option value="{{a}}">{{a}}</option>
                        {% endfor %}
                    </select></td>
                    <td>
                        {% if t.seasons.get(res.league.current_season).coaches|length > 0 %}
                        <i class="fa-solid fa-square-check success"></i>
                        {% else %}
                        <i class="fa-solid fa-square-xmark"></i>
                        {% endif %}
                    </td>
                    <td><button class="schedule-action danger" type="submit" name="delete" value="{{t.teamId}}" onclick="return confirm('Delete team?')">Delete</button></td>
                </tr>
                <script>
                    document.getElementById('{{t._id}}'+'_age').value = "{{t.age}}";
                </script>
                {% endfor %}
            </table>
        </section>
    </form>
</main>

{% endblock content %}