<head>
    <link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
    <script src="{{url_for('static', filename='schedule.js')}}"></script>
</head>

{% extends "design.html" %}
{% block title %}Team Data{% endblock title %}

{% block content %}
<main>
    <section class="split">
        <div>
            <h1>Team Data</h1>
        </div>
        <div class="align-right">
            <h3><a href="{{url_for('admin.add_team')}}">Add Team</a></h3>
        </div>
    </section>
    <button type="" onclick="toggleFilterSection('filter-section')" class="filter-dropdown action"><i class="fa-solid fa-filter"></i> Filters</button>
    <form method="post">
        <section id="filter-section" class="filter-section">
            <select class="filter" name="ageGroupFilter" id="ageGroupFilter" onchange="this.form.submit()">
                <option value="None">All Age Groups</option>
                <option value="T-Ball">T-Ball only</option>
                <option value="Coach Pitch">Coach Pitch only</option>
                <option value="AA">AA only</option>
                <option value="AAA">AAA only</option>
                <option value="Majors">Majors only</option>
                <option value="50/70">50/70 only</option>
                <option value="Juniors">Juniors only</option>
            </select>
            <script>
                document.getElementById('ageGroupFilter').value = "{{ageGroupFilter}}";
                
                function toggleFilterSection(section) {
                    let sect = document.getElementById(section);
                    if (sect.style.display == 'none') {
                        sect.style.display = 'block';
                    }
                    else {
                        sect.style.display = 'none';
                    }
                }
            </script>
        </section>

        <section class="schedule-section scrollwrapper">
            {% if teamsList|length < 1 %}
            <h3 class="error">No teams found.</h3>
            {% endif %}
            <table id="schedule-table" class="event-display admin">
                <tr>
                    <th>Team Code</th>
                    <th>Name</th>
                    <th>Age Group</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Ties</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                {% for team in teamsList %}
                <tr class="event-row">
                    <td>{{team.teamId}}</td>
                    <td><input class="admin" type="text" name="teamName_{{team.teamId}}" id="teamName_{{team.teamId}}" value="{{team.teamName}}"></td>
                    <td><select class="admin" name="teamAgeGroup_{{team.teamId}}" id="teamAgeGroup_{{team.teamId}}">
                        <option value="T-Ball">T-Ball</option>
                        <option value="Coach Pitch">Coach Pitch</option>
                        <option value="AA">AA</option>
                        <option value="AAA">AAA</option>
                        <option value="Majors">Majors</option>
                        <option value="50/70">50/70</option>
                        <option value="Juniors">Juniors</option>
                    </select></td>
                    <td><input class="admin" type="number" name="wins_{{team.teamId}}" id="wins_{{team.teamId}}" value="{{team.wins}}"></td>
                    <td><input class="admin" type="number" name="losses_{{team.teamId}}" id="losses_{{team.teamId}}" value="{{team.losses}}"></td>
                    <td><input class="admin" type="number" name="ties_{{team.teamId}}" id="ties_{{team.teamId}}" value="{{team.ties}}"></td>
                    <td><button class="schedule-action" type="submit" name="updateTeam" value="{{team.teamId}}">Update</button></td>
                    <td><button class="schedule-action" type="submit" name="deleteTeam" value="{{team.teamId}}" onclick="return confirm('Delete team?')">Delete</button></td>
                </tr>
                <script>
                    document.getElementById('teamAgeGroup_'+'{{team.teamId}}').value = "{{team.teamAgeGroup}}";
                </script>
                {% endfor %}
            </table>
        </section>
    </form>
</main>

<script>
    let tbl = document.getElementById('schedule-table');
    colorifySchedule(tbl);
</script>
{% endblock content %}