<head>
    <link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
    <script src="{{url_for('static', filename='schedule.js')}}" defer></script>
    <script src="{{url_for('static', filename='share.js')}}" defer></script>
    <style>
        @media screen and (max-width: 2000px) {
            main {
                width: 95%;
            }
        }
    </style>
</head>

{% extends "design.html" %}
{% block title %}Admin{% endblock title %}

{% block content %}
<main>
    <section class="split">
        <div>
            <h1>Users</h1>
            <p class="subtle">Hold ctrl on PC or cmd on Mac to select multiple groups/permissions</p>
            <p class="error">{{res.msg}}</p>
        </div>
        <div>
            <br>
            <h3>Quick Actions</h3>
            <form method="post">
                <button class="action secondary" name="umpire_add_all" value="1" onclick="return confirm('Allow all active umpires in your league to add games?')">Open Umpire Add</button> 
                <button class="action secondary" name="umpire_add_none" value="1" onclick="return confirm('Close umpire game adding?')">Close Umpire Add</button>
                <button class="action secondary" name="umpire_remove_all" value="1" onclick="return confirm('Allow all umpires in your league to drop games?')">Open Umpire Drop</button> 
                <button class="action secondary" name="umpire_remove_none" value="1" onclick="return confirm('Close umpire drop?')">Close Umpire Drop</button>
                <br><br>
                <button class="action secondary" name="coach_add_all" value="1" onclick="return confirm('Allow all active coaches in your league to request youth umps?')">Open Coach Add</button>
                <button class="action secondary" name="coach_add_none" value="1" onclick="return confirm('Lock all youth umpire requests?')">Close Coach Add</button>
            </form>
        </div>
    </section>
    <form method="post">
        {% include "user-filters.html" %}

        <section class="schedule-section scrollwrapper">
            {% if users|length < 1 %}
            <h3 class="error">No users found.</h3>
            {% endif %}

            <section class="split">
                <div>
                </div>
                <div class="align-right">
                    <button onclick="return confirm('Are you sure you want to edit these users?')" type="submit" class="action" name="save" value="save"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                </div>
            </section>

            <table id="schedule-table" class="event-display admin">
                <tr>
                    <th></th>
                    <th>Last</th>
                    <th>First</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Groups</th>
                    <th>Permissions</th>
                    <th>Remove</th>
                </tr>
                {% for u in users %}
                <tr class="event-row">
                    <td><a class="icon-link" href="{{url_for('view_info.user', userId=u.userId)}}"><i class="fa-solid fa-info"></i></a></td>
                    <td class="event-type">{{u.lastName}}</td>
                    <td class="event-type">{{u.firstName}}</td>
                    <td class="event-type"><button class="schedule-action" type="button" onclick="copy('{{u.email}}')"><i class="fa-regular fa-clone"></i></button> {{u.email}}</td>
                    <td class="event-type">{{u.phone}}</td>
                    <td><select name="{{u._id}}_groups" id="{{u._id}}_groups" multiple>
                        {% for g in groups %}
                        <option value="{{g}}">{{g}}</option>
                        {% endfor %}
                    </select></td>
                    <td><select name="{{u._id}}_permissions" id="{{u._id}}_permissions" multiple>
                        <option value="blank">None</option>
                        {% for p in res.league.permissions %}
                        <option value="{{p}}">{{p}}</option>
                        {% endfor %}
                    </select></td>

                    <script>
                        groups = JSON.parse('{{u.groups.get(res.league.leagueId)|tojson}}')
                        permissions = JSON.parse('{{u.permissions.get(res.league.leagueId)|tojson}}')
                        groups_select = document.getElementById('{{u._id}}_groups')
                        permissions_select = document.getElementById('{{u._id}}_permissions')
                        for (g of groups) {
                            for (o of groups_select.options) {
                                if (o.value == g) {
                                    o.selected = true
                                }
                            }
                        }
                        for (p of permissions) {
                            for (o of permissions_select.options) {
                                if (o.value == p) {
                                    o.selected = true
                                }
                            }
                        }
                    </script>
                    
                    <td><button type="submit" onclick="return confirm('Remove user from league? This cannot be undone!')" class="schedule-action danger" name="remove" value="{{u.userId}}">Remove</button></td>
                    
                </tr>

                {% endfor %}
            </table>
        </section>
        <button id="load-more" type="button" class="action" onclick="load()">Load More</button>
    </form>
</main>
{% endblock content %}